[2014-01-07 15:46] randomecho opened #4 "Installing Git cheatsheet missing second part of combination"
"Installing Git" section of the [GitHub Foundations Cheat Sheet](https://github.com/github/training-materials/blob/master/cheatsheets/github-foundations-cheatsheet.md) appears to leave things on a cliffhanger:

There is something missing here isn't there?

[2014-01-10 16:09] #4 closed, assigned to matthewmccullough

[2014-01-30 17:41] afeld opened #30 "Crossfade fragment transitions in SVG diagrams"
Tried figuring this out myself, but wasn't getting anywhere :confused: The fragment transitions on certain slides (e.g. [the one below](http://training.github.com/materials/slides/github-foundations.html#/9/1)) feel sluggish since it takes two keypresses to advance to the next annotation.  I don't think that the middle state is useful, so would be nice to collapse that.

![training_svg mov](https:

[2014-01-31 18:41] jordanmccullough opened #31 "Add GitHub Guides to Resources"
The Training Materials/Training Kit needs a resources list, which should include https://guides.github.com.

[2014-02-23 23:26] randomecho opened #36 "Fleshing out the cheatsheet - Wait on materials or dive in now?"
What's the procedure on fleshing out the cheatsheet? Like the [Foundations](https://github.com/github/training-materials/blob/master/cheatsheets/github-foundations.md), for example.

Is the idea that it's written up from the sessions and classes you're holding, and the repo is waiting for some breathing time between classes?

Or would it be okay to jump in and add a sentence or two here and there

[2014-02-25 01:31] #36 closed, assigned to jordanmccullough

[2014-02-25 21:05] #31 closed, assigned to jordanmccullough

[2014-02-25 21:09] jordanmccullough opened #40 "Tweak home page layout"
Now that the Training-Materials repo has more established content, the access and layout of the home page needs additional attention. This initial Issue serves as a reminder to visit this design revision effort :soon:.

[2014-03-02 06:03] afeld opened #43 "Up and Running workshop guide?"
I've been [writing up](https://workflowy.com/shared/3755a453-57e0-99b1-6b91-23cbfae9bb43/) a teacher-focused guide for the "Git & GitHub, Up & Running" workshop I've been doing, and was wondering about the best place for that to live.  The [slides](http://training.github.com/materials/slides/up-and-running.html)/concepts are a subset of the Foundations class, but I think the format is fairly diffe

[2014-03-06 15:58] jordanmccullough opened #44 "Download/Non-Web Resource Paths"
Before we consider the downloadable resources officially shipped here on Materials, we need to reach consensus on a path that will remain unchanged for the foreseeable future.

Currently, the Cheat Sheet lives at this path:

http://training.github.com/materials/downloads/github-git-cheat-sheet.pdf

Though these materials may get updated, the path should always stay the same. Can we agree that `/do

[2014-03-07 15:16] #44 closed, assigned to jordanmccullough

[2014-03-07 23:01] #40 closed, assigned to jordanmccullough

[2014-03-08 05:05] randomecho opened #45 "H3 headings are eaten in silence in workbook"
On [the workbook](http://training.github.com/materials/workbooks/github-foundations.html) it looks like the subheadings (`###`) are being eaten up by the parser that handles hiding away the `###Details` sections between "Summary" and "Details" views.

![jelly fish pointing out lack of h3](https://f.cloud.github.com/assets/743877/2364578/32408f2a-a67f-11e3-89db-b2c27dbb75b5.png)

In this screenshot

[2014-03-10 19:59] #45 closed, assigned to jordanmccullough

[2014-03-10 20:05] jordanmccullough opened #47 "Responsive (tablet) friendly design"
In addition to the generic desktop friendly design, some adjustments to the stylesheet after #46 completes would help with different screen sizes.

This also has the advantage of making the Workbook content more useful as supplementary when Training Kit users are presenting and keep the content open on a tablet while using the desktop for the slides projection.

[2014-03-18 16:17] jordanmccullough opened #59 "Slide "Help" JS Errros"
The auto-showing Help panel for slide decks is experiencing JS issues.

![screen shot 2014-03-18 at 10 16 51 am](https://f.cloud.github.com/assets/352082/2450157/c8cab038-aeb8-11e3-82ca-6f09c9538917.png)

[2014-03-18 16:29] #59 closed, assigned to jordanmccullough

[2014-03-18 16:56] jordanmccullough opened #62 "Alt+Click does not work"
Some recent change to the layout or overlay in the slides prevent the useful alt+click support of RevealJS.

[2014-03-18 17:16] #62 closed, assigned to jordanmccullough

[2014-03-18 17:25] jordanmccullough opened #64 "Minify JS and CSS"
All JS and CSS involved in the Kit and Slides need minified for more efficient transport.

[2014-03-26 02:03] jordanmccullough opened #65 "Support internationalization"
### Objectives
- Add language field to YAML frontmatter
- Update template for HTML to definte `lang` attribute
- Include language toggle/list for all docs translated
### Method
- Copy content to ISO named sub-folders

[2014-04-09 18:02] luissquall opened #73 "Git Foundations Rebase interactive slide"
Last step of [Rebase interactive](http://training.github.com/kit/slides/github-foundations.html#/18/4) animation lists file `index.html` in commit `48E` while in previous frame this file is not mentioned.

Am I missing something or listing this file introduces confusion?

[2014-04-15 20:41] #73 closed, assigned to jordanmccullough

[2014-04-15 20:46] jordanmccullough opened #82 "Buildscript for generating update CSS from SASS"
Per the discussion [here](https://github.com/github/training-kit/pull/78/), an easy to use buildscript should be available to generate any CSS artifacts from updated SASS files.

A plus would be if the script also uses the necessary SASS switches to compact the CSS  and generated simplest possible output (no comments, whitespace, etc.).

[2014-04-15 20:54] jordanmccullough opened #83 "Improve Network diagram and `pull` and `fetch` indication arrows"
Per @brntbeer regarding the Foundations slide deck chapter on Network:

![568fff58-c102-11e3-9286-b840dec3b1a9](https://cloud.githubusercontent.com/assets/352082/2712958/078f3d9c-c4e0-11e3-8177-89449c3916a0.jpg)

[2014-04-17 21:07] #65 closed, assigned to jordanmccullough

[2014-04-17 21:09] #64 closed, assigned to jordanmccullough

[2014-04-17 21:25] #82 closed, assigned to jordanmccullough

[2014-04-17 21:43] #83 closed, assigned to jordanmccullough

[2014-04-25 20:09] jordanmccullough opened #105 "Git Cheat Sheet Japanese PDF Layout, Content"
@hissy and @dice:

I have completed the initial copy-paste of the [Japanese Markdown file's content](https://github.com/github/training-kit/pull/98) into the Git Cheat Sheet PDF layout.

The text areas were adjusted where possible for the length of the text, including the larger box in the トラッキングの制限 section. However, some text runs longer than the original design planned.

I can adapt the layout t

[2014-04-29 21:58] ptoro opened #111 "Bug: Ctrl-f in Chrome makes slides disappear"
Steps to reproduce:
1. Navigate to http://training.github.com/kit/slides/github-advanced.html
2. Ctrl-f for any string that doesn't exist in the slide deck (this step may need to be repeated one or two times)
3. The deck view shows only the bottom
4. The slide view shows only a corner of the slide
This issue is 100% reproducible.
Pictures of the slide and deck view are attached.
![deckview](https:

[2014-05-01 16:17] jordanmccullough opened #114 "Support Trainer name page by querystring and GitHub API"
The current method for customizing the slide deck with a "Trainer" information page is burdensome.

Let's use a querystring for specifying a GitHub user's name (the teacher) and then utilizing the GitHub API to pull the public info for building this page instead.

Example:
`https://training.github.com/kit/slides/github-foundations.html?gh_user=brntbeer`

[2014-05-04 19:58] #105 closed, assigned to jordanmccullough

[2014-05-07 15:33] jordanmccullough opened #121 "ES Cheat Sheet Fine Tuning for Text Spillover"
@leereilly, any thoughts on how we might best shorten some of the EN-->ES Git translations?

If at all possible, I'd :heart: not needing to wrap any of the command descriptions to two lines. The first pass to resolve this was shrinking the page margins down to 0.25", and from a design standpoint, I dare not go any closer.

The font size is already near the lower limit, so I made the call that shri

[2014-05-27 22:57] #121 closed, assigned to jordanmccullough

[2014-07-21 18:29] brntbeer opened #159 "rebase slides missing from advance =("
Seems the imaging of rebase is missing! =(

[2014-07-25 17:37] #159 closed, assigned to jordanmccullough

[2014-07-25 17:54] #30 closed, assigned to jordanmccullough

[2014-07-25 17:57] #47 closed, assigned to jordanmccullough

[2014-07-25 18:03] #111 closed, assigned to jordanmccullough

[2014-07-25 18:08] #43 closed, assigned to matthewmccullough

[2014-07-30 17:15] jordanmccullough opened #162 "Log command missing from slide with options switches"
Second group of `log` commands with option switches for searching are missing `log`.

![screen shot 2014-07-30 at 11 14 12 am](https://cloud.githubusercontent.com/assets/352082/3752926/01941ec8-180d-11e4-8d4e-432f57567ab2.png)

[2014-07-30 17:48] randomecho opened #163 "."
Sorry about that. Sticky keys and laggy browser auto-created this issue.

[2014-07-30 17:48] #163 closed, assigned to hubot

[2014-07-30 18:01] #162 closed, assigned to jordanmccullough

[2014-08-01 16:03] #114 closed, assigned to jordanmccullough

[2014-08-07 17:17] jordanmccullough opened #166 "Missing font/Octico/traced shape in Intermediate Remote Workflows diagram"
![screen shot 2014-08-07 at 11 14 59 am](https://cloud.githubusercontent.com/assets/352082/3845804/984bc330-1e56-11e4-96a8-bcedb16d318d.png)

[2014-08-12 14:01] matthewmccullough opened #171 "Can't insert a SVG more than once"
In https://training.github.com/kit/foundations/ an SVG can only be inserted once with the

[code]

If inserted a second time, the graphic doesn't show up and a white blank space is rendered instead.

[2014-08-12 14:03] matthewmccullough opened #172 "Anchor tags in unified curriculum only use first word of H3"
The in-page anchor generated for each section of the document only uses the first word of each H3.  If the same word begins a second H3, both will be highlighted in the navigation bar. I worked around this by numbering all the H3s.

[2014-08-12 16:51] #166 closed, assigned to jordanmccullough

[2014-08-14 02:08] #172 closed, assigned to jordanmccullough

[2014-08-14 02:12] matthewmccullough opened #182 "SVGs don't animate in unified class material document"
In our [in-use unified workbooks](https://training.github.com/kit/intermediate/), we insert the SVGs with a special liquid capture, but it doesn't yet respect animation of the layers that @jordanmccullough worked so hard to get working in the slide decks such as https://training.github.com/kit/slides/github-foundations.html#/9/2

The idea would be for some decoration on the margin, or just clickin

[2014-08-18 20:42] matthewmccullough opened #189 "Add image of Try Git to Foundations, Intermediate one-page curriculum"
Continuing the conversation from #187, it seems like [elevating Try Git to an image](https://github.com/github/training-kit/pull/187#issuecomment-52551812) in the curriculum is helpful to our goals.

[2014-08-28 15:55] #182 closed, assigned to jordanmccullough

[2014-08-28 15:56] #171 closed, assigned to jordanmccullough

[2014-09-02 16:10] matthewmccullough opened #205 "Replace public slides and workbook with unified curriculum"
- [x] Link the workbook links to the [dark-shipped unified slides+workbook](https://training.github.com/kit/foundations/beta.html)
- [x] Toggle the existing workbooks (for salvaging) to be dark shipped (old.html), or delete them
- [x] Create redirects for all slide URLs to the new unified workbooks + slides
- [x] Adjust the public https://training.github.com/kit page to delete the slides section a

[2014-09-11 14:35] jordanmccullough opened #214 "Use local vs CDN of library dependencies"
Given the Kit is shipped with a version release, and is expected to run locally and offline, the CDN-based dependencies need to be resolved.

**Example:**
https://github.com/github/training-kit/blob/master/_layouts/site.html#L17

[2014-09-11 15:05] #205 closed, assigned to jordanmccullough

[2014-09-11 20:10] #214 closed, assigned to jordanmccullough

[2014-09-29 21:19] jordanmccullough opened #237 "Add `?` tips and shortcuts to curriculum"
Started [here](https://github.com/github/training-kit/pull/235#issuecomment-57174377), helpful tips including the URL querystring trick `?teacher=[githubusername]` and resources would benefit from showing in a `?` popover.

[2014-10-01 15:56] jordanmccullough opened #240 "Slide-only curriculum option"
First raised by @johndbritton, there are frequent uses for the Kit's curriculum pages to consist of exclusively slide-only content without the lab or additional resource materials. Benefits:
1. Spacebar to advanced down through each slide, chapter
2. No cursor/mouse/trackpad scrolling needed to move past resource content
3. Appears more like on-screen slide deck

[2014-10-02 05:19] #240 closed, assigned to jordanmccullough

[2014-10-02 05:25] #189 closed, assigned to matthewmccullough

[2014-10-06 19:03] brntbeer opened #247 "Description / Mention of Longer lived branch workflow"
I've taught a few people a version of the GitHub flow that uses longer lived branches, wondering if there's a place in the workflow section of Advanced for us to describe this?

This is also the workflow that we'll be using for this repo moving forward i believe.

[2014-10-17 22:27] matthewmccullough opened #253 "Repeated Octicons, visual hiccup"
On Yosemite's Safari, I'm seeing Octicons oddly repeated:

![messages image 559404562](https://cloud.githubusercontent.com/assets/24734/4686967/9b4ce388-564c-11e4-8e0c-0e9e03e7b15c.png)

And now, I can't reproduce it after a reboot.

[2014-10-17 22:27] #253 closed, assigned to matthewmccullough

[2014-10-22 02:17] jordanmccullough opened #256 "Subversion to Git Migration Cheat Sheet"
With the first draft of the [Subversion to Git Migration Cheat Sheet](https://github.com/github/training-kit/blob/master/downloads/subversion-migration.md) shipped in Markdown, this is a preview of the upcoming PDF design layout.

@github/training-teachers, Can you give this some :eyes: and submit PRs to the [markdown](https://github.com/github/training-kit/blob/master/downloads/subversion-migrati

[2014-10-23 16:16] jordanmccullough opened #258 "Incorporate abstract/chapter summary in slides"
Based on a [Training team discussion](https://github.com/github/training-team/issues/987#issuecomment-60163956), the curriculum "slides" would benefit from a summary or objectives "what you'll learn" list at the very beginning of the content.

![slide-summary](https://cloud.githubusercontent.com/assets/352082/4756743/e3a47434-5acf-11e4-8132-f9808e09d109.png)

[2014-10-31 07:56] leonardk1 opened #261 "problem with Github foundation link in the offline kit"
for the offline Kit, the Github Foundations link is not working

see below

[code]

looking at index.html code I found out the cause,

this change is needed
`<a href="git-foundations.html">Git Foundations</a>` -> `<a href="github-foundations.html">Git Foundations</a>`

[2014-11-03 02:50] #261 closed, assigned to matthewmccullough

[2014-11-05 23:02] brntbeer opened #263 "Table of Content doesn't show by default"
Because the icon is so small, it's easy to miss for new users. What if we showed it by default and had the option to hide it later?

[2014-11-10 02:11] #263 closed, assigned to jordanmccullough

[2014-11-10 02:23] #237 closed, assigned to jordanmccullough

[2014-12-02 20:13] #256 closed, assigned to jordanmccullough

[2014-12-09 07:12] brntbeer opened #281 "Organization and Team slide order flip?"
In https://training.github.com/kit/foundations/#surveying-the-github-platform, as we get to the end of the major feature set, we mention teams before organizations.

Should this be reversed? I often think about this from the top down: " An organization acts like a user, but connects individuals together to repositories through teams."

Otherwise, im open to suggestions on how I could improve the w

[2014-12-09 22:22] #281 closed, assigned to jordanmccullough

[2014-12-12 02:29] jordanmccullough opened #283 "Subversion to Git Migration cheat sheet PDF review"
@github/training-teachers, The first page of the Subversion to Git Migration sheet is starting to feel close to shipping, but I'm looking for inputs on the second (back) sheet with the vocabulary.

I'm all :ear:s for what the introductory paragraph might benefit from, raise, or just summarize that the table details out in grid format.

![01](https://cloud.githubusercontent.com/assets/352082/540608

[2014-12-29 21:24] jordanmccullough opened #289 "Release 1.7.0"
This serves as the tracking issue for the upcoming 1.7.0 release of Training-Kit.
- [x] Foundation curriculum updates https://github.com/github/training-kit/pull/282

~~\- [ ] Intermediate curriculum updates **TBD**~~
~~\- [ ] Advanced curriculum updates **TBD**~~
- [x] Liquid `include` deprecation https://github.com/github/training-kit/pull/287
- [x] Improved slide styling https://github.com/gith

[2014-12-29 21:28] jordanmccullough opened #290 "Release 1.8.0"
Tracking issue for Training-Kit release 1.7.x:

~~- [ ] Intermediate curriculum updates **TBD**~~
~~- [ ] Advanced curriculum updates **TBD**~~
~~- [ ] *Longer* lived branch examples, slide topics https://github.com/github/training-kit/issues/247~~
- [x] Chapter abstracts/summaries
  - [x] Foundations slide deck https://github.com/github/training-kit/issues/258, https://github.com/github/training-

[2014-12-29 21:42] jordanmccullough opened #291 "Support multiple usernames in `?teacher=<name>`"
The querystring-parameter that provides the cover page with teacher's GitHub API-provided information should support a CSV. This provides single-page support when more than one instructor is teaching, or co-instructing is occurring.

[2014-12-29 22:04] #289 closed, assigned to jordanmccullough

[2014-12-30 19:28] #283 closed, assigned to jordanmccullough

[2015-01-04 05:21] jordanmccullough commented on #258
Now that the [checklist feature](https://github.com/github/training-kit/issues/258#issuecomment-60952005) first-draft is implemented [here](https://github.com/github/training-kit/pull/292#issuecomment-68621622), closing this issue in favor of the https://github.com/github/training-kit/pull/292.

[2015-01-04 05:21] #258 closed

[2015-01-04 22:48] brntbeer opened #297 "Mix of tabs and spaces in stylesheets"
I noticed we have a mix of tabs and spaces in some of the stylesheets. @jordanmccullough what are your thoughts on adding those to spaces?

[2015-01-04 23:49] jordanmccullough commented on #297
Gasp! Not sure how, but happy to clean it up, for sure. Thanks for opening the issue, @brntbeer.

[2015-01-05 01:28] brntbeer commented on #297
haha, not a problem! just figured you worked well with issues, so i thought i'd open this one up!

[2015-01-05 16:43] #297 closed

[2015-01-07 04:38] brntbeer opened #302 "Organizing history for optimal workflow breaks TOC"
We currently have two `<h2>` elements for the section of "organizing history for optimal workflow. This also shows as two TOC elements on the right hand side.

![screen shot 2015-01-06 at 11 37 24 pm](https://cloud.githubusercontent.com/assets/45141/5640993/22ed056c-95fd-11e4-8786-1803e22cef64.png)

[2015-01-07 22:58] jordanmccullough commented on #302
Hit this snag in a class today also. Fixing.

Thanks @brntbeer for opening the issue on this.

[2015-01-08 06:18] matthewmccullough commented on #258
:metal: implementation, @jordanmccullough.

[2015-01-19 17:19] brntbeer opened #307 "user.name and user.email in intermediate start out without flags, and don't work"
https://training.github.com/kit/intermediate/ starts out listing the `user.name` and `user.email`, but no flag for the level of setting it at.

The slides should reflect that this needs `--global` for it.

[2015-01-19 17:36] matthewmccullough commented on #307
👍

[2015-01-22 03:12] andres-mancera opened #308 "Found some minor issues in the Spanish translation of 'github-foundations.md'"
I noticed a few minor issues (misspellings, typos) over in the [Spanish translation of 'github-foundations.md'](https://github.com/github/training-kit/blob/master/workbooks/es/github-foundations.md).  I would like to submit a pull request in order to fix them.  Is this is welcome contribution right now?

[2015-01-22 03:21] matthewmccullough commented on #308
Yes indeed, @andres-mancera ! It is most welcome!

[2015-01-27 22:11] ElizabethN opened #310 "TOC hidden in Firefox"
I'm using Firefox 34.0.5 and the TOC ghosts away when my cursor is not hovering. It works :a:-:ok: in Chrome and Safari.

This is what I mean:

![training bug](https://cloud.githubusercontent.com/assets/57594/5928128/690aef92-a646-11e4-800f-06dcd5cc26f7.gif)

Hope that helps!

[2015-01-27 23:57] jordanmccullough commented on #310
Thanks for opening this @ElizabethN. Definitely looks like it needs a fix. :sparkles:

[2015-04-13 14:25] jordanmccullough commented on #291
Kit and materials in state of flux and restructuring, closing for now.

[2015-04-13 14:25] #291 closed

[2015-04-13 14:26] jordanmccullough commented on #310
Will come back to this if this continues. `Backlog`-ing for now.

[2015-04-13 14:26] #310 closed

[2015-04-16 18:05] jordanmccullough commented on #290
1.8 shipped. https://github.com/github/training-kit/releases/tag/1.8.0

[2015-04-16 18:05] #290 closed

[2015-05-28 02:46] Lorindellia opened #316 "A Beginner's Request"
Dear GitHub Training,

I have used github before to simply modify a java thing for minecraft.  I had total step by step instructions.

Now, I want to learn how to create my own programs using github, but other than the above I haven't programmed a thing in my life.

I tried to complerte the lesson that gives out badges but it crashed and I can't get it back...

I would very much like it if you cou

[2015-05-28 04:12] jordanmccullough commented on #316
Hi Leah,

Our GitHub Training Kit is programming language agnostic, allowing the focus to remain on Git and GitHub processes, rather than a particular tech stack.

While we have some improvements in mind for the curriculum, the current structure of *Foundations*, *Intermediate*, and *Advanced* aligns with our [classes](https://training.github.com/classes) and has proven useful to students particip

[2015-05-28 04:12] #316 closed

[2015-05-28 12:58] crichID commented on #307
It seems this was addressed in #311 and merged. Closing this!

[2015-05-28 12:58] #307 closed

[2015-05-28 17:07] brntbeer commented on #307
The images still apparently don't show it correctly, but since we're moving past this and i can't find where the images actually live in this repository, im fine with closing this! thanks!

[2015-07-23 14:03] felipedau opened #326 "Outdated cheat sheet (PT) PDF file"
It's been a while since the [PDF file](https://github.com/github/training-kit/blob/master/downloads/pt/github-git-cheat-sheet.pdf) of the Cheat Sheet in Portuguese was built (Jun 9, 2014), but I'm not sure if there is a schedule to build these things. It happens that it does not have the latest version of the [md file](https://github.com/github/training-kit/blob/master/downloads/pt/github-git-chea

[2015-07-27 06:47] brntbeer commented on #326
Good find! Because the PDF files a bit harder to update, we were thinking of leaning more towards web-only view for these cheat sheets.

Is the translation in the `.md` file correct thought?

[2015-07-27 09:23] felipedau commented on #326
Sounds good. By the way, if people ask for the PDF files, could they be hosted
somewhere and then use Webhooks to keep them synced?

Actually there are some things I just noticed that could be fixed/improved.

There are some words I'm not happy with, but I couldn't think of a better
translation. It happens that I just found out that there is a [pt-br
version](https://git-scm.com/book/pt-br/v1) of

[2015-07-27 21:59] brntbeer commented on #326
Ideally i'd love it if the printed version of these web pages looked good enough to be thought of as PDF files. Otherwise we'd love to keep the PDFs here. I just currently know we don't have time to put together too many PDFs, very open to others adding it though

I fully encourage you to submit PRs to revise it. Maybe even making a mention at the top of the file somewhere that it's Brazilian Port

[2015-07-28 03:08] felipedau commented on #326
Got it.

Alright, I'll do that once I have it ready.

I agree! Doesn't look like it's necessary.

Thanks!

[2015-07-29 09:12] felipedau commented on #326
Finally finished what I think can improve the PT cheat sheet: #328

I did not mention this issue there because although I proposed the changes
here, they're not about the same topic. I think I will leave  this issue
open until the PDF thing is solved. Or maybe another one should be open to
address all the PDF files.

Thanks!

[2015-07-30 06:23] brntbeer commented on #326
@felipedau i agree this issue should stay open until the problems in the original post are answered.

Taking a look at your PR now, thanks!

[2015-08-26 10:19] xantage opened #330 "starter header"
- [

[2015-08-26 23:44] brntbeer commented on #330
hi @xantage :wave:

Not sure if you were using this repository to practice issues or not, but I'd encourage you to create your own repository to test that out! That way you can create files, pull requests, etc.

Let me know if i can help, I'll let you close this issue for practice if you'd like. You may also want to check out https://training.github.com/classes/introduction/ if you want some extra

[2015-11-17 02:17] #330 closed

[2015-12-04 01:58] exalted opened #339 "Proposal to contribute"
Hey there!

Nothing specific; I wanted to ask whether would you appreciate my contribution on whatever task you may need help with in your priority list right now (I mean _anything_ really).

I :heart: git & GitHub + teaching, so I figured: this repo would be a nice place to do some work around that.

For instance, [`git-lfs`](http://github.com/github/git-lfs) doesn’t seem to have much coverage. I

[2015-12-04 02:16] matthewmccullough commented on #339
@exalted my knowledgeable @github/training-teacher colleagues will be able to offer topic guidance, but let me just say how wonderful it is to have your offer. We certainly will find a way to make great use of your help!

[2015-12-04 07:29] exalted commented on #339
Standing by sir! 👌😀

[2015-12-04 15:54] loranallensmith commented on #339
@exalted Thank you so much for offering a :hand: in helping us craft some :sparkles: training material.

I'm happy to help support your contributions in any way I can.  I also wanted to loop in @technoweenie to this thread, for his :boom: knowledge of Git LFS and its most immediate needs in terms of training content.

[2015-12-04 16:41] exalted commented on #339
Thx for awesome welcomings to all of you.
Should I simply wait some sort of a draft idea/plan/idea at this point or...?
🖐
--
Ali

On Fri, Dec 4, 2015 at 7:54 AM -0800, "Allen Smith" <notifications@github.com> wrote:

@exalted Thank you so much for offering a  in helping us craft some  training material.

I'm happy to help support your contributions in any way I can.  I also wanted to loop in @tech

[2015-12-14 21:11] loranallensmith commented on #339
@exalted Sorry for the delayed response. :bow:  I was chatting with @technoweenie today and wanted to see how you felt about moving this conversation over into the [`github/git-lfs`](https://github.com/github/git-lfs) repository to :guitar: on it more.

It would be :sparkles: to have help adding to the [documentation](https://github.com/github/git-lfs/tree/master/docs) that currently exists, but t

[2015-12-18 22:06] exalted commented on #339
As I opened an issue at https://github.com/github/git-lfs feel free to close this one please, if you think there’s not much left here to discuss.

However please keep in mind anything else `git`-related (not necessarily `git-lfs`) was/is also fine as far as my contribution goes.

Thanks @loranallensmith and @matthewmccullough. :beers:

[2016-01-04 17:20] loranallensmith commented on #339
@exalted Thanks a bunch for opening up that issue.  I'll close this one down for now!

Please feel free to reopen if the need arises!  :+1:

[2016-01-04 20:42] exalted commented on #339
:+1:

[2016-01-05 20:10] benlk opened #342 "Main column of git cheat sheet overlaps footer"
<img width="756" alt="screen shot 2016-01-05 at 3 05 50 pm" src="https://cloud.githubusercontent.com/assets/1754187/12126266/2d8dd5ac-b3be-11e5-9538-5335323e2d8b.png">

On https://training.github.com/kit/downloads/github-git-cheat-sheet, the content overlaps the footer.

The browser here is Chrome's latest, at about 750px wide.

[2016-01-05 23:08] brntbeer commented on #342
@benlk thanks for finding this! Super weird.

I'm guessing this may have something to do with how we render the columns to stay usable. I'll take a look at tinkering with it unless i can convince @jordanmccullough (or yourself if you know how!) to help me with it =)

[2016-01-06 00:48] brntbeer commented on #342
@benlk got a fix coming in #343, there was an issue with extra html coming into this mix.

[2016-01-06 21:09] #339 closed

[2016-01-06 21:10] exalted commented on #339
:clap:

[2016-01-08 18:44] #342 closed

[2016-01-25 13:35] moeinrahimi opened #347 "contribute to cheat sheet"
hi
I'm almost new to git and github concepts, i would like to contribute github cheat sheet and make a persian translation cheat sheet file, I would appreciate if someone explain me how to do that, should i edit the cheat-sheet.md file and then what.
thanks

[2016-01-26 17:31] moein-rahimi commented on #347
anyone there to help me with this? please?

[2016-01-26 17:40] brntbeer commented on #347
Oops, sorry @moein-rahimi, I was traveling yesterday and forgot to respond to this. I showed it off to some colleagues but forgot to reply!

I would **love** it if you submitted any type of new cheat sheet to this repository. You could look at how to do that by copying the pattern of some of the other markdown files in the `downloads/` directory. Like https://github.com/github/training-kit/blob/ma

[2016-01-26 17:43] loranallensmith commented on #347
@moein-rahimi If it helps at all, you may want to take a look at #156, where a contributor submitted an Arabic translation that included right-to-left rendering of the text.

I think Persian is a RTL language.  Is that right?

[2016-01-27 13:21] moein5 commented on #347
ok, to start i must first fork this repository and create a new folder for the language and inside the folder just like the other languages in the downloads folder.
i'll create a .md file for translation, that's all it takes? nice, just one more question how do you convert the .md file to pdf version ?
@loranallensmith thanks, yes, it's a rtl language, that's great there is a RTL translation. it h

[2016-01-27 13:31] moein-rahimi commented on #347
ok, i'll do like you said, what should i do after that?
 just one more question how do you convert the .md file to pdf version ?
@loranallensmith thanks, yes, it's a rtl language, that's great there is a RTL translation. it helps me a lot. thank you again

[2016-01-28 20:16] brntbeer commented on #347
@moein-rahimi dont worry about pdf for now, when you finish the .md file, you'd have to convert that to .pdf using a template that we have.

@jordanmccullough is the template for making the pdf something we could upload to the repo?

[2016-01-28 20:18] brntbeer commented on #347
sorry @moein-rahimi i missed this piece, did you mean what you should you do after you make the .md file? Let me know if you'd need some help doing this on a local git client (like a terminal or GitHub Desktop) and opening a pull request

[2016-01-29 05:32] jordanmccullough commented on #347
@brntbeer, It certainly is. Let me know if I can assist with providing the source material and `.ai` file. Also happy to provide the document in `.svg` for a more portable and editable format.

[2016-01-29 18:25] brntbeer commented on #347
@jordanmccullough great. I'll keep you in mind in the future. If you ever want to just drop those files into the repository that may even be a good step

[2016-02-12 16:04] hcanna opened #348 "Squirrel vs. Rocket difference?"
Good Morning @github/training-teachers ... for the GitHub Flow, https://guides.github.com/introduction/flow/ ,  we are using the Squirrel for the the deploy icon, and in the Teacher Outline, https://training.github.com/kit/modules/COLL-00_Introducing-github.html?teacher=hcanna ...

Can you help me understand the differences between the two deploys? Thanks

[2016-02-12 16:25] crichID commented on #348
@hcanna great catch! Yes, we should definitely address visual inconsistencies like this as we work to revise our curriculum. Let's not worry about it in this version since I am hopeful we will have the new version posted very soon!

[2016-02-12 16:25] #348 closed

[2016-03-23 10:33] hkasera opened #352 "Contributing to Git Cheat Sheet by adding useful commands"
Hello,

I use Git on a daily basis and I absolutely :heart:  it.  There are a few commands that are quite handy. I was going through the [cheat sheet](https://training.github.com/kit/downloads/github-git-cheat-sheet.pdf) and I found out that those are missing in the sheet.

For example - Whenever we create a new branch, we checkout to the same branch. A useful command for that is `git checkout -b

[2016-03-23 16:02] brntbeer commented on #352
@hkasera thanks for opening this issue!

I agree that `git checkout -b <branch name>` is pretty critical and a very common command. Could you think of others?

Im wondering if there's a good way to get more commands added to this repo without necessarily having to have us need to re-print PDFs, or change a bunch of languages. Open to suggestion from @github/training as well

[2016-03-23 16:33] hkasera commented on #352
I can think of a few more  -

* `git merge --abort`
* `git checkout .`
* `git stash save <stash name>`
* `git stash pop <stash name>`
* `git checkout <stash@{0}> — <filename>`
* `git apply <patch file>`
* `git log --pretty=oneline`

[2016-03-24 15:21] brntbeer commented on #352
@hkasera i agree some of those commands (especially checkout differences and merge options) would be great. However, I don't know that they'd fit into the single sheet (front and back even). Whatya think about a second type of sheet, like a more advanced cheat sheet?

[2016-03-24 16:36] hkasera commented on #352
@brntbeer Yes, I think a second cheat sheet is a good idea :+1:. In that cheat sheet we could have the above commands as well as a few more like tagging related commands.

[2016-03-30 12:22] brntbeer commented on #352
@hkasera I'd love to ship some good first iteration of these commands so we could at least record something about them.

I don't love that the cheat sheets are in https://github.com/github/training-kit/tree/master/downloads, but would you like to create a plain markdown file titled like `advanced-git-github-cheat-sheet.md` and add some of these commands and a short description for? The first itera

[2016-03-30 17:11] hkasera commented on #352
@brntbeer That sounds great! I would be happy to do that.

I will fork the repo, add the commands in the new file as you mentioned and send a PR for the same.

[2016-03-31 11:10] hkasera commented on #352
@brntbeer I added a basic version of the [advanced cheat sheet](https://github.com/hkasera/training-kit/blob/master/downloads/github-git-advanced-cheat-sheet.md) in the forked repo. Can you take a look at [that](https://github.com/hkasera/training-kit/blob/master/downloads/github-git-advanced-cheat-sheet.md) and let me know if it looks good?

[2016-03-31 13:18] brntbeer commented on #352
@hkasera looks good! feel free to send a pull request over to this repo to get that started

[2016-03-31 13:27] hkasera commented on #352
@brntbeer created a [PR](https://github.com/github/training-kit/pull/353) for the same :+1:

[2016-03-31 14:20] hkasera commented on #352
@brntbeer Thanks for merging the changes! :smile:
Now that we have the first version out, we should plan for the next step :thought_balloon:
I was thinking to add all the commands which we use like tagging and diff between branches etc. I would need your advice on how to begin with the next step.

[2016-03-31 14:25] brntbeer commented on #352
@hkasera if you'd like you can just continue to submit PRs to that file at any time really. That'd probably be the best way: get every advanced command you can think of recorded, and then we can decide on how it should look in a more permanent format.

[2016-03-31 15:12] hkasera commented on #352
@brntbeer Sure will do that!

[2016-04-01 10:38] brntbeer commented on #352
@hkasera i'm going to close this issue, as we have a pretty good workflow for getting additional content now into that advanced cheat sheet. Let's do any future coordination in the pull requests that we work on together!

[2016-04-01 10:38] #352 closed

[2016-04-01 10:40] hkasera commented on #352
Sure @brntbeer :+1: Thank you!!

[2016-04-08 13:34] stdavis opened #354 "Beginner Questions"
I'm teaching an introductory GitHub workshop at a conference next month and was excited to find this repo. Thanks for sharing it!

I'm struggling with how to get started. I see that you have slides hosted at: https://training.github.com/kit/ but they don't seem like an ideal solution. Do you really use the scroll bar to advance slides? I can see docs in your repo about full screen slides and speak

[2016-04-09 14:56] crichID commented on #354
@stdavis thank you for your note! Our materials are in a transitional state right now and we are working to update this site. In the meantime, can we send you a copy of our newer materials in their current state? Please drop us a note at services@github.com and we will send you the updated deck and manuals.

[2016-04-11 13:14] stdavis commented on #354
Thanks, I sent you an email.

[2016-04-11 13:14] #354 closed

[2016-04-11 21:25] brntbeer commented on #326
Sorry for closing and re-opening.

@felipedau any update on this? I think keeping this open for the one specific piece to fix would be good.

[2016-04-12 16:53] stdavis commented on #354
Hey @crichID: I sent an email on 4/9 but never heard anything. Did you get it? My email is stdavis@utah.gov.

[2016-04-12 22:07] felipedau commented on #326
@brntbeer since I last posted to this issue, the `pdf` file was still outdated and that's why I left it open. However, as you mentioned in #334, the link points to an updated `html` page and I should've probably closed this one because there is no `pdf` file anymore.

Maybe a new one should be opened to find a general way to make these things build automatically to keep them synced, because it loo

[2016-04-14 09:08] brntbeer commented on #326
I agree that we should close this down and open an issue to at least speculate ways to get .pdfs to automatically get updated, or some alternative. Honestly if there was a "Print" button on the `.html` pages that printed the PDF, i think that would do.

@felipedau would you like to get started on that issue and close this one?

[2016-04-14 15:45] felipedau commented on #326
That's a great idea! I think that most of it can be done just by changing the CSS. It shouldn't be too hard.

Sure. Are there any other resources that would be useful to be available as `pdf` files as well, or just the cheat sheets?

[2016-04-14 15:59] felipedau commented on #326
Can I also make an issue to turn all the cheat sheets into `html` pages?

The whole website (including those pages) are synced with this repo, right? Or it still has to be built just like the `pdf` files?

[2016-04-14 16:01] brntbeer commented on #326
@felipedau i think just the cheat sheets or now. We can end up making the subversion migration one into pdf later and kind of continue to iterate on it.

If you mean turn all of the `pdf`s into html, sure. The interesting part is that we already do have markdown converting it into html, so I wonder if some of that work is already done for us. Would be nice if the markdown pages we already have cou

[2016-04-14 16:02] brntbeer commented on #326
@felipedau sorry, i missed this. yes, everything that's at training.github.com/kit is on this repo itself. When we make the changes here (and probably test them locally) the @github/training-teachers would have to merge it into a private repo to get it deployed.

[2016-04-15 14:55] bitoiu opened #357 "New cheat sheet for PT-PT"
Hey @brntbeer,

Sorry to mention you directly, didn't see a `traning-kit` team and didn't want to over do it with `training`. Is there an appetite for a PT-PT cheat sheet?

I fully understand why we went for PT-BR to start with, it's follows the industry trend due to the high number of technical folks of Brazil vs Portugal.

I would be keen on working on the PT-PT translation, I just wanted to kno

[2016-04-15 15:47] brntbeer commented on #357
@bitoiu no worries, @mentioning the `@github/training-teachers` is always a safe bet though.

For some additional background see #334 and #328 , and specifically the start of convo here: https://github.com/github/training-kit/pull/328#issuecomment-126795227.

😍 😍 😍 😍 😍 😍 😍 😍 😍 😍 😍 😍 😍 😍 😍 please do, contributions always welcome

[2016-04-15 17:28] felipedau commented on #326
Sounds good.

I noticed that the Brazilian Portuguese, Chinese and Italian cheat sheet links point to the `html` pages with that new layout, but the others don't. They are `pdfs` with the old layout. I would like that all those links pointed to an `html` page with the new layout. That will also make it easier to keep them synced with the repo and the `md` files should stay there, it's a lot easier

[2016-04-23 18:01] guntbert opened #358 "README.md: broken links"
In the paragraph

all three links are broken.

[2016-05-02 18:42] brianamarie opened #362 "Releases of training kit"
### Releases of training kit

_Pertinent to the issue [Offline documentation](https://github.com/github/solutions-engineering/issues/2032) in Solutions Engineering_

@github/services-training, @jordanmccullough Is there a reason that we stopped doing this, other than transition of responsibilities?

As a newer member of the team, I'd ❤️ some background information on this feature and its role in o

[2016-05-02 21:31] jordanmccullough commented on #362
@brianamarie, While I cannot speak to when specifically release efforts "stopped," what I can share is the approach for this buildscript approach.

- Every Release had an associated tracking issue (.e.g. this one from [January 2015](https://github.com/github/training-kit/issues/290))
- [Releases aligned with specific updates, improvements](https://github.com/github/training-kit/releases)

As the m

[2016-05-05 12:35] #357 closed

[2016-05-05 15:35] brianamarie commented on #362
@jordanmccullough Thank you for the comment on this! I would love to pick your brain more about this to more fully understand. Would it be possible to schedule a time to 👖 on this topic either tomorrow or sometime next week? If so, please feel free to put something in my calendar at a time most convenient for you. 😄

[2016-05-05 16:20] jordanmccullough commented on #362
@brianamarie, 👍 .

Looking forward to the calendar invite so we can discuss. :sparkles:

[2016-05-06 06:06] eriksaline opened #363 "Unable to run cibuild script on Mac OS X 10.11.4"
Running `./_buildscripts/cibuild` in bash produces the following error.  Seems to be related, https://github.com/ffi/ffi/issues/461.  Applying the fix mentioned in the issue then gives an additional rake aborted error because the bundle script is not found.

rake aborted!
LoadError: Could not open library 'c': dlopen(c, 5): image not found.
Could not open library 'libc.dylib': dlopen(libc.dylib, 5

[2016-05-11 06:35] H-Darji commented on #358
All three links for **Foundations, Intermediate, Advanced** are already provided in the paragraph after it **at lines 23, 24, 25**.
See the following snapshot:

![1](https://cloud.githubusercontent.com/assets/14276147/15171985/659c8158-1770-11e6-8659-2f3e4d5300af.JPG)

[2016-05-13 17:21] guntbert commented on #358
@H-Darji thank you for the clarification.

[2016-05-19 19:51] #362 closed

[2016-05-23 00:46] jbjonesjr commented on #363
@eriksaline I've solved this before, let me see if I can find my notes.

[2016-05-23 01:07] jbjonesjr commented on #363
Ok, so from my previous experience with this issue:

update your GemFile to include the following line at the top:
`gem 'ffi', git: 'git://github.com/ffi/ffi.git', branch: :elcapt`

This is actually a dependency based on `typhoeus` in `html-proofer`, but that modification should be enough for you.

When i was running either `ruby` or `irb` on a file, I did have to make sure it knew the environment

[2016-06-03 14:49] #358 closed

[2016-06-03 15:05] crichID commented on #302
@brntbeer @jordanmccullough is this issue OK to ❌

[2016-06-03 15:35] crichID commented on #326
@felipedau thank you for your thoughtful comments. I completely agree with you and would :heart: to see this level of consistency among these resources. Please feel free to open a PR containing these changes!

[2016-06-03 15:36] crichID commented on #363
@jbjonesjr thank you for your helpful troubleshooting! @eriksaline please let us know if you need additional assistance.

[2016-06-03 15:36] #363 closed

[2016-06-03 16:00] jordanmccullough commented on #302
:x: away.

[2016-06-03 16:13] #302 closed

[2016-06-05 14:27] sanchojaf opened #372 "Error: Included file '_includes/slide-section' not found"
Hi

Error: Included file '_includes/slide-section' not found

When I run from the top directory of the project
[code]

Then it have the next error:

[code]

[2016-06-06 12:49] crichID commented on #372
@sanchojaf thank you for noting this issue! I have fixed it in #373, would you mind building off of that branch to confirm it resolves the problem? Also, please note that I pushed a rename to the script folder this morning, so you will need to use `script/` instead of `_buildscripts/`

[2016-06-06 14:21] #372 closed

[2016-06-06 14:25] sanchojaf commented on #372
Hi @crichID

The error continue in my laptop, bellow the complete steps

clone:

[code]

[code]

run script and error

[code]

[2016-06-06 14:29] crichID commented on #372
@sanchojaf did you switch branches before you tried to re-run the script? I just merged the branch in to master so perhaps you could run a `git pull` and try again?

[2016-06-06 14:37] sanchojaf commented on #372
@crichID it  is working well, thanks!

[2016-06-06 14:42] sanchojaf commented on #372
Only one more question, after run the script,

[code]

which is the right command for open the training-kit local?

I am using:

[code]

and review http://0.0.0.0:4000/kit/ . I am not sure that is the right html design?

[2016-06-06 22:43] crichID commented on #308
Looks like this issue has already been addressed in #309. Closing!

[2016-06-06 22:43] #308 closed

[2016-06-12 22:33] felipedau opened #379 "Make `html` cheat sheets printable as `pdf` files and update links"
The discussion started in #326 where @brntbeer and I were trying to find a way to keep the cheat sheet builds synced with the source code (`.md` files). We believe that providing all the cheat sheets in `html` (the same way the Brazilian Portuguese, Chinese and Italian currently are) is a lot easier than `pdf` because with `html` it is possible to generate the `pdf`.

I just built the website loca

[2016-06-12 22:34] felipedau opened #380 "Make cheat sheets printable as `pdf` files with the same `html` layout"
The discussion started in #326 where @brntbeer and I were trying to find a way to keep the cheat sheet builds synced with the source code (`.md` files). We believe that providing all the cheat sheets in `html` (the same way the Brazilian Portuguese, Chinese and Italian currently are) is a lot easier than `pdf` because with `html` it is possible to generate the `pdf`.

The `html` pages are already

[2016-06-12 22:41] felipedau commented on #326
Sorry @crichID I think I was waiting for @brntbeer's confirmation and forgot this issue. Unfortunately I need help to make those changes, so I opened new issues ( #379, #380). This one can finally be closed!

[2016-06-12 22:41] #326 closed

[2016-06-14 12:57] brntbeer commented on #379
The problem is that attempting to print (or download, for that matter) the `.html` version does not look the same as the `.pdf` version (as mentioned in https://github.com/github/training-kit/issues/380). Because all of the pages have a `.md` file, they automatically generate the `.html` version. The idea would be to add better CSS for the printing sheets.

@felipedau can we close https://github.c

[2016-06-14 15:50] felipedau commented on #379
On Tue, Jun 14, 2016 at 05:57:09AM -0700, Brent Beer wrote:

Yes, absolutely! I just split them because some of the cheat sheets
are already available only in `.html` and I thought that it would not
be a problem to do the same for all of them (#379). Once we figured
out how to print them properly, then the `.pdf` versions would be back
(#380).

Do you want me to close #380 and edit the title of th

[2016-06-14 15:51] brntbeer commented on #379
@felipedau that'd be awesome! thank you 😄

[2016-06-15 16:05] #380 closed

[2016-06-15 16:09] felipedau commented on #379
More info from #380:

The `pdf` should actually be built by the users by printing it with the browser. However, changes to the style of the page should make it possible (probably modifying the `@media print` queries in `css`), because currently it is removed:

![printed-ggcs](https://cloud.githubusercontent.com/assets/4574368/15994160/52f5b9d0-30ec-11e6-8d13-825467f47f53.png)

If this works, a dow

[2016-06-18 11:01] amitkumarj441 commented on #347
Can i translate the Github training kit in local languages? This can help other people who don't have proper english knowledge! One more thing, can i create a video of training kit in other local languages?
Please let me know where i can initiate a PR for this!

[2016-06-18 11:15] houweilei opened #381 "Study"
@defunkt  hi,I'm a beginner.
![0 06-14-15-14-24 1](https://cloud.githubusercontent.com/assets/12932110/16170532/b9c4ef50-3588-11e6-82f6-fd388bcc7e6c.gif)
![2x](https://cloud.githubusercontent.com/assets/12932110/16170538/e72b6140-3588-11e6-94a9-17a23b6dd077.png)

[2016-06-18 11:32] brntbeer commented on #347
@amitkumarj441 you can absolutely contribute to the training kit translations! If you'd like, you can add them to the [`downloads/`](https://github.com/github/training-kit/tree/master/downloads) folder and we can make sure they get all good to go!

[2016-06-18 12:05] brianamarie commented on #381
Hi @houweilei! 👋 If you're looking for someplace to find beginner resources, I suggest looking here:
- [GitHub's Training courses](https://services.github.com/training/)
- [GitHub Guides](https://guides.github.com/)

If you have questions, don't be afraid to ask for help! I am going to close this issue now, but you still will be able to comment on it if you want to. 😄

[2016-06-18 12:05] #381 closed

[2016-06-19 06:02] amitkumarj441 commented on #347
Hi @brntbeer ,

Glad to hear you!
I'm gonna initiating a PR(pdf & .md) for the same in local language!

Cheers,
Amit Kumar Jaiswal

[2016-06-19 10:20] brntbeer commented on #347
@amitkumarj441 sounds good! I'd focus on just the `.md` version first. It may be easiest as the templates for the `.pdf`s aren't in this repo

[2016-08-04 05:43] bondpuoq opened #384 "Study purposed Issue"
Hello, this is my study Issue

[2016-08-10 05:07] mattlebel opened #385 "Link to GitHub Importer in SVN Migration cheat sheet is broken"
The link to the [GitHub Importer](https://import.github.com) in the [Subversion to Git Migration Cheat Sheet](https://services.github.com/kit/downloads/subversion-migration.html) document is currently returning a certificate warning for common name mismatch.

It looks like the valid common name for the certificate is ```import.github.com```, while the link target is set to ```importer.github.com``

[2016-08-10 16:23] #385 closed

[2016-08-25 23:54] wordsoup opened #389 "User-reported Brazilian Portuguese Translation Error on Git Cheat Sheet"
A user contacted Support regarding a translation mistake for the Brazilian Portuguese Git Cheat Sheet:

**Opened from Halp**: [Translation mistake on Git Cheat Sheet] (https://halp.githubapp.com/inboxes/accounts/discussions/1c7f7fd2687611e68af95b431e32665f)

On Group Changes topic, the descriptin of $ git branch [branch-name] is in Spanish. Could you fix this?

Thanks in advance to anyone availabl

[2016-08-26 01:09] hectorsector commented on #384
:wave: hi there @bondpuoq! We'd ❤️ to help you learn! Check out our [training courses](https://services.github.com/training/) if you haven't done so already.

Let us know if there's something we can do for you. Otherwise, you can close out this issue by clicking the `Close issue` button.

[2016-08-26 01:14] hectorsector commented on #389
Happy to help @wordsoup! I don't speak Brazilian Portuguese, though.

Perhaps we can find someone that speaks Brazilian Portuguese to help! I believe @bitoiu speaks Portuguese from Portugal so I'm not sure he'll be able to help either, but let's start there 😄

[2016-09-03 20:06] bitoiu commented on #389
Hi @hectorsector :wave:

The user is right, but it just seems the PDF is outdated:

<img width="309" alt="screen shot 2016-09-03 at 21 05 10" src="https://cloud.githubusercontent.com/assets/1192590/18227379/2bbe43ea-721a-11e6-8029-9a1fe6617152.png">

But in the MD: https://github.com/github/training-kit/blob/master/downloads/pt_BR/github-git-cheat-sheet.md#mudanças-em-grupo it's all good.

So I gu

[2016-09-11 22:27] rahha opened #391 "Raha"
Raha

[2016-09-15 22:04] #384 closed

[2016-09-15 22:05] #389 closed

[2016-10-03 17:57] #391 closed

[2016-10-25 17:37] gh0st opened #399 "Contribution to Cheat Sheets"
I'd like to contribute to the cheat sheet collection by providing not only cheat sheets for Git but cheat sheets for using bash. Could you point me in the right direction for this? I've already forked and cloned this repo and I'm ready to get started. Shall I just create a PR once I'm ready? I'd also hope that it can be created into it's own unique .pdf file with it's own .ai header and etc. Perha

[2016-10-25 17:49] crichID commented on #399
@gh0st you have the perfect username for this time of year!

Yes, this is exactly how you would do it!

As you probably noticed, the cheat sheets are in: https://github.com/github/training-kit/tree/master/downloads. You would start the cheat sheet as a .md file and then open the PR. Once the .md gets the :+1: and merged in, we will work on creating the PDF.

Good luck and I am looking forward to s

[2016-11-20 01:07] wisn opened #408 "Got 404 Page Not Found"
I'm trying to access https://services.github.com/kit/, but I got `404 Page Not Found`.
The GitHub System Status told me that all system operational.
Is it moved? Or something happens?

Screenshot
![screenshot from 2016-11-20 08-03-17](https://cloud.githubusercontent.com/assets/8147926/20459749/c531de16-aeff-11e6-8ba8-a91998d5889e.png)

[2016-11-20 07:01] jayvdb commented on #408
I think it is now here : https://services.github.com/on-demand/
But only some courses are enabled, and the "Open Chat" links go to https://gitter.im/githubschool for https://github.com/githubschool

But it is a bit confusing because there is also https://github.github.io/on-demand/

[2016-11-21 13:21] crichID commented on #408
@wisn and @jayvdb thank you for noticing and bringing this to our attention!

We are in the process of open sourcing our newest generation of courses. These resources were initially being developed at https://github.github.io/on-demand but we will be deprecating that closed source repo in favor of this one.

@jayvdb you are correct - this will be the new home for the rendered courses.

We are movi

[2016-11-21 16:19] matthewmccullough commented on #408
@crichID and Training team: If the https://services.github.com/kit/ URL is deprecated, can we put in a temporary redirect to help route folks over to https://services.github.com/on-demand/ or another preferred location, just to help folks discover our new home for materials?

[2016-11-22 15:54] brntbeer commented on #408
Is https://services.github.com/kit/ suppose to redirect to https://services.github.com/on-demand/ or https://services.github.com/resources/? The `kit/` endpoint previously was where we showed the cheatsheet as well as links to open source material about the classes.

If the `on-demand/` material will end up being linked to from `resources/`, my vote would be to redirect `kit/` to `resources/`, but

[2016-11-22 16:48] crichID commented on #408
@brntbeer great questions! The cheatsheets etc. are actually linked from https://services.github.com/resources. The /kit endpoint has been "hidden" on services.github.com since the re-design earlier in the year.

The on-demand material is being linked on /training and on the home page, but not on /resources.

[2016-11-23 00:15] brntbeer commented on #408
@crichID sounds fine to me! just happy with a decision

[2016-11-30 21:56] hollenberry opened #415 "Open Source Community Updates"
With the recent move of our On Demand courses to Open Source, I think we have a great opportunity to fine tune some of the edges of our training-kit in a beginner-friendly way.

## Proposed Next Steps With Examples
- [x] Update contributing.md with greater [detail] (https://github.com/exercism/exercism.io/blob/master/CONTRIBUTING.md) @crichID **this is happening in #571**
  - [x] In open sourcing

[2016-11-30 22:18] brianamarie commented on #415
@kytrinyx & @lee-dohm, your involvement in open source communities is impressive and a source of inspiration! What do you think of this plan of action? What could we add?

@hollenberry Are you mostly wanting a review of this plan? Is it OK if we raise our hands to help out on the smaller items? I’d love to help with labels.

[2016-11-30 22:25] hollenberry commented on #415
@brianamarie Are you mostly wanting a review of this plan? Is it OK if we raise our hands to help out on the smaller items? I’d love to help with labels.

Yes! I'm hoping that we can agree on the pieces, and then break them out into smaller items, but it's absolutely okay if you'd like to jump on some pieces earlier.

[2016-12-01 20:09] hollenberry opened #418 "Video Branding"
In building out a summary video/slide deck for Introduction to GitHub, it occurred to me that any video we produce would benefit from strong branding.

## Why?

  - Point more roads to our On Demand curriculum (especially since we've seen that videos get more traction than the courses).
  - Keep our YouTube channel better organized.
  - Indicate fresh/new content.

## What does this look like?
  -

[2016-12-01 20:20] beardofedu commented on #415
@hollenberry If I could suggest that we create a set of instructions / template (and formatting) description for the On Demand classes that might be helpful.

As an example:
 - Text a student is going to type should be in a `code block`
 - Buttons a student is going to click should be **bold**.
   - Also, we click buttons, we don't press them. We aren't ironing 👔s over here ;).

[2016-12-01 20:31] brianamarie commented on #418
In general 👍 ✨  to this! I'm not sure how involved the design team would want to be, but it may be worth a ping.

[2016-12-01 23:02] hectorsector commented on #415
@beardofedu I've thought about this before, also. But I think it needs to be bigger than that -- I like to think of it as a "style guide" for training artifacts. I'm happy to ✋ for this and open a separate PR with a first 🔪 .

[2016-12-02 18:25] hollenberry commented on #415
Hey @brianamarie @hectorsector @beardofedu !

Thank you all so much for giving this a once over and adding your ideas. I was going to make issues for all of these, but I realized it probably makes more sense for you to open a PR/Issue etc. as you see fit for the items that you're going to tackle.

I'll open an Issue for the remaining pieces, but I want to remove any roadblocks in case you're looki

[2016-12-02 21:43] kytrinyx commented on #415
This sounds like a good plan! I generally feel like I have no idea what I'm doing when it comes to documentation and helping people get started, so I'll follow along and see if I learn anything!

[2016-12-05 23:45] brianamarie opened #420 "Labels for issues and pull requests"
To help contributors sort through and understand existing issues and pull requests, I'd like to add some different labels. This is linked to the [Open Source Community Updates](https://github.com/github/training-kit/issues/415) issue.

Ideas:

**Type of Issue or PR:**
- Bug
- New Feature
- New Course
- Translation

**Skillset Needed:**
- HTML/CSS
- Jekyll
- Content Writing
- Design
- Video
- Revie

[2016-12-05 23:46] brianamarie commented on #415
Starting brainstorming on labels [in this issue](https://github.com/github/training-kit/issues/420).

[2016-12-06 02:46] crichID commented on #415
@hollenberry thank you for organizing these thoughts! I put my name next to the README and CONTRIBUTING since it seems like they go together (kinda). PR forthcoming!

[2016-12-06 04:51] beardofedu commented on #420
@brianamarie if we are going to differentiate between 'writing' and 'technical writing' we might want to identify a 'Creative Writing' label. If we do create a 'Creative Writing' label, do we need a 'Content Request' label? Additionally, we should provide definitions for the different labels within the README / CONTRIBUTING file _or_ in a Wiki.

I'm on the fence about grouping the labels into cate

[2016-12-06 09:17] brntbeer commented on #420
Also, just throwing this out there. Please spell out everything and don't use acronyms. They make me sad and easily confused 😸

(_Brought to you by the Brntbeer Foundation For Bringing the Eventual Death to Acronyms (BBFFBEDA)_)

[2016-12-06 13:22] brianamarie commented on #415
@hollenberry Another idea could be incorporating help for contributors into the gitter help for those going through the activities. [Check out Free Code Camp's 'contributor' room.](https://gitter.im/FreeCodeCamp/Contributors)

[2016-12-06 15:02] hectorsector commented on #420
One potential benefit: multiple labels can be applied. So if there's a bug with technical writing, both `bug` and `technical writing` can be applied!

👍 on label definitions in documentation
👍 for 🚢 a short list of labels first, and expanding them as needed
👍 on the prelim list of labels

[2016-12-06 17:01] crichID commented on #420
@brntbeer :heart:

My brain finds it easier to think of our labels in groupings - does this make sense to anyone else?

**Type of Issue or PR:**
- Bug
- New Feature
- New Course
- Translation

**Skillset Needed:**
- HTML/CSS
- Jekyll
- Content Writing
- Design
- Video
- Review/Testing
- No Code Required

**Other**
- Duplicate
- Won't Fix

P.S. I don't :heart: the help wanted label - does that mean

[2016-12-06 17:11] hectorsector commented on #420
👍 I'm happy with that, @crichID. Could we identify the grouping by color coding? I.e. all "type of issue/pr" labels are shades of orange, all "skill set needed" labels are shades of purple, all "other" labels are shades of gray?

@brianamarie if you'd like me to move forward with implementing this I can do so

[2016-12-06 17:32] beardofedu commented on #420
@crichID thank you for creating a grouping strategy that makes sense 😄

I think this is a great start for labels.

[2016-12-06 17:52] hollenberry commented on #420
I ❤️ all of the above discussion and labels. This is excellent!

I think that we might also benefit from a few labels like...
- [up-for-grabs](http://up-for-grabs.net/#/)
- Claimed (this might be a redundancy if we implement the above with consistency)
- [first-timers-only](http://www.firsttimersonly.com/)

[2016-12-06 17:54] beardofedu commented on #420
@hollenberry I like the idea of 'up-for-grabs' and maybe changing 'first-timers-only' to 'first-timer-friendly'. I think 'claimed' might prevent people from trying to help resolve an issue with other people if they see that the issue is claimed, but overall 👍

[2016-12-06 17:55] hollenberry commented on #415
I'm about to tackle some first drafts for Issue/PR templates today. Saw [this](https://github.com/formly-js/angular-formly/issues/410#issuecomment-127227984) during the morning.

This might be 2.0, or only rolled out for a few labels, but I think it would be nice for us to have additional prompts depending on the type of label we apply.
- Technical writing gets a reference to our style guide
- Fir

[2016-12-06 17:58] hollenberry commented on #415
@brianamarie what a great idea! What do you think about having a Slack channel?

This would allow us to maintain consistent conversations and establish break-out rooms depending on the project (open enrollment, training kit, languages, etc.)

I'm happy to PRP this today if I wouldn't be stepping on your toes!

[2016-12-06 17:58] hectorsector commented on #415
I think the comprehensive walkthrough is good, as well as the first-timers-only 👍, but I'd like to lower the barrier of entry for anyone and not impose a restriction that we'll only accept PRs from first-timers.

[2016-12-06 18:00] hollenberry commented on #415
@hectorsector
I definitely understand where you're coming from. I'll reply to you and @beardofedu over in the label thread.

[2016-12-06 18:03] hollenberry commented on #415
`bkeepers` posted [this](https://gitmagic.io/) in the open source channel today. Thoughts on adding it to the task list?

I think it's a great idea during the beta period (no cost), and then we can evaluate the effectiveness. This also goes back to our conversations about people being more responsive to automated feedback.

[2016-12-06 18:14] hollenberry commented on #420
I definitely see where both of you are coming from, @beardofedu @hectorsector . I liked the idea of `first-timers-only` because we'd get increased traffic from people who find our repository via the website, but in following up I'm not sure how heavily trafficked the label/referral site is.

Ultimately, I'm happy to forego it, but I imagine that we'd apply this to incredibly minor labels that are

[2016-12-06 18:19] kytrinyx commented on #415
I've had this exact discussion with the other maintainers on Exercism. We've settled for "good first patch", which is suggestive of being excellent for first timers, without restricting it.

One maintainer currently keeps a stock of about 10 "good first patch" issues on his repo. If there are more than 10 he starts picking them off himself, and if there are fewer, he works on making more of them.

[2016-12-07 18:44] crichID commented on #420
@hollenberry I love the idea of this site and think it might be a cool way to drive engagement. I think there are other ways too, like being added to a github showcase for beginner friendly projects. I :heart: that we are considering these other methods of connecting in the community.

:+1: agreed this is redundant and might create a closed door culture

@kytrinyx [recommended using `good-first-pa

[2016-12-07 21:00] hectorsector commented on #420
I updated the OP with the current suggestions.

[2016-12-07 22:00] crichID opened #424 "Encouraging survey completion"
**tl;dr** We currently receive end-of-course survey responses from ~18% of the learners who complete the course. We would like to improve this.

## The Problem

In order to improve the course, it would be great to receive more feedback on what learners do and don't like. ~18% is a fairly low response rate - industry norm is ~30%. This could be caused by a few things:

- **Survey Placement:** Right

[2016-12-08 00:45] brianamarie commented on #420
😍 This is looking so fabulous! Thank you @beardofedu @brntbeer @hectorsector @hollenberry & @crichID!

What are your thoughts of trying out the current labels in the updated original post?

[2016-12-08 04:40] crichID commented on #420
:+1: Let's do it!

[2016-12-08 14:10] crichID commented on #399
@gh0st hopefully these are well under way, I am going to close out this issue to keep things in the repository tidy, but please feel free to reopen if you have questions or (even better) open a PR with the new cheat sheet!

[2016-12-08 14:10] #399 closed

[2016-12-08 14:11] crichID commented on #347
This issue has been hanging around for a while, I am going to go ahead and close it out but please feel free to reopen if there are additional questions!

[2016-12-08 14:11] #347 closed

[2016-12-08 14:16] crichID commented on #247
@brntbeer this issue is super stale. I have added this to the backlog in the training repo and will close this out. If you would like it re-opened, please feel free to do so!

[2016-12-08 14:16] #247 closed

[2016-12-08 14:31] #408 closed

[2016-12-08 14:54] brianamarie commented on #415
Go for it @hollenberry, please feel free to assume that I wear steel toe boots at all times. 👢

[2016-12-08 16:14] lee-dohm commented on #415
Thanks for the kind words @brianamarie :blush: Sorry it has taken so long for me to respond.  I think the plan you have so far is spot-on 👍 Some suggestions:

* In the CONTRIBUTING guide, explain your label system and include search links - [for example](https://github.com/github/training-kit/issues?q=is%3Aissue+is%3Aopen+label%3A%22help+wanted%22)
* For an example of some of the things that might

[2016-12-09 14:21] brianamarie commented on #420
Woohoo! Closing now as labels have been added and modified. We can iterate on this as needed! 🎉

[2016-12-09 14:21] #420 closed

[2016-12-09 14:25] brianamarie commented on #415
Issue/PR Labels have been updated. @github/services-training Is there any other item that anyone needs help on? It looks like everything above has a PRP, but if there's anything I could/should be looking at to help, ping me!

[2016-12-16 20:40] meli-lewis opened #430 "404 for github for everyone resource in Readme"
https://services.github.com/kit/courses/github-for-everyone.html

[2016-12-16 21:17] crichID commented on #430
@meli-lewis :wave: thank you for noting this .. I will update the README to reflect the newest resources for those wishing to learn GitHub Desktop!

[2016-12-19 08:07] hollenberry commented on #415
Hey there @brianamarie ! Following up on the discussion in the templates thread, it looks like a maintainers guide might be a really helpful asset! I've added it above (PRPless).

[2016-12-27 23:03] brianamarie commented on #430
Closing this issue since it has been addressed in #421

[2016-12-27 23:03] #430 closed

[2017-01-03 17:12] crichID opened #435 "Add Fork me on GitHub Ribbon"
Wouldn't it be great if our courses pointed people back to their source? What do you think about adding a [Fork me on GitHub](https://github.com/blog/273-github-ribbons) ribbon?

/cc @github/services-training

[2017-01-03 17:14] beardofedu commented on #435
I like this one:

![](https://camo.githubusercontent.com/a6677b08c955af8400f44c6298f40e7d19cc5b2d/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f677261795f3664366436642e706e67)

[2017-01-04 23:31] hectorsector commented on #415
The style guide has been started in #436

[2017-01-05 23:00] hollenberry commented on #418
- [x] A consistent title slide. Octocat + GitHub On Demand + Course Title
- [x] A strong color scheme.
- [x] A consistent Screenflow Template?
- [x] A consistent ending (Thanks for Watching)
- [ ] Optional? Consistent icon formatting when used in videos. (For example, bold octicons versus regular).

Quick update! Closing this out as the above has been completed.

@loranallensmith is a hero. I appr

[2017-01-05 23:00] #418 closed

[2017-01-06 06:26] alrightjones opened #439 "Training Idea: GitHub API Development"
While thumbing through some of our [On-Demand Training](https://services.github.com/on-demand/), the question arose: Do we have GitHub API development training? From what I can gather, the answer is no. I'd like to propose adding a GitHub API training course to our offering so we can start to lower the barrier for developers to become GitHub integrators.

A few questions we should probably answer

[2017-01-06 13:37] brianamarie commented on #439
@alrightjones Thank you for surfacing this!!! An API course has been on the radar but knowing there is strong interest definitely moves it up and helps it become a priority!

@github/services-training What do you think?

[2017-01-06 13:43] hectorsector commented on #439
Yes!

![](http://i.giphy.com/l41YrxL7e1EE6zDDG.gif)

[2017-01-06 14:07] brianamarie commented on #415
I also want to ping @Shubheksha for any ideas. @github/services-training, @Shubheksha is a Campus Expert as well as a real life expert. She has created a lot of materials for [promoting and maintaining healthy open source projects](https://medium.freecodecamp.com/how-to-attract-new-contributors-to-your-open-source-project-46f8b791d787#.v7pl8anij) and is also active in the Free Code Camp space.

@S

[2017-01-06 15:12] kdaigle commented on #439
I'd quadruple love if this course could focus on GraphQL as that will eventually become the one-true-way to integrate with GitHub. Otherwise, let us know how we can be of help and take into account our roadmap as part of this.

[2017-01-06 15:13] crichID commented on #439
@alrightjones thank you for sharing this idea and getting the ball rolling. GitHub's API is really the first I have worked with and I am thankful for the awesome documentation at: https://developer.github.com/v3/ and for the [development guides](https://developer.github.com/guides/) that contain several cool projects.

We could also point to [this book](http://shop.oreilly.com/product/063692004302

[2017-01-06 18:24] crichID commented on #439
A few GraphQL resources:

- [Start with this video from Universe with @kdaigle and Facebook](https://youtu.be/wPPFhcqGcvk)
- Check out the Learn section of http://graphql.org/
- GraphQL blog has a cool section at the top for people who are learning: http://graphql.org/community/#blogs

[2017-01-06 18:54] alrightjones commented on #439
@kdaigle I think there is a real need for GraphQL training as well, but should we start with REST or GraphQL? How far away is GraphQL away from being Production ready?

[2017-01-06 18:58] kdaigle commented on #439
@alrightjones we're still determining the exact timelines but we're expecting it to be full production in "months". I don't think it's worth the effort to cover REST as those materials will likely become outdated/deprecated quickly.

[2017-01-09 22:00] carolynshin commented on #424
Just an idea...

What if we provided some sort of incentive to fill out the survey?

For example, if we promised some awesome additional learning resources/videos after survey completion. So something like this...
- End of course, link to survey, with a description of the incentive
- Fill out survey
- After survey completion, redirect to cool page of resources that made filling out survey worth it

[2017-01-09 23:58] hectorsector commented on #424
👍 why are all the cool things the ones that require the most work?

[2017-01-10 15:01] brianamarie commented on #424
@hectorsector I also have an aspiration to create a webhook to add collaborators after they create an issue, too, since so many people are just creating issues instead of commenting on the correct one. I think this would be a similar script, so I'll put this on my list. (No promises!)

👀 Ooooh, @carolynshin, like an easter egg of hidden content? What do you have in mind? I love this idea!

[2017-01-11 00:44] VTG38 commented on #424
Or Maybe just an @ mention?

[2017-01-11 14:08] brianamarie commented on #424
Hm, I'm not sure exactly what is meant by this?

[2017-01-11 17:16] allthedoll commented on #439
Hi all! 👋

I've been working on an API course offering that is given by the @github/services-engineering team, and we've had two successful deliveries with another scheduled next week. As of now, these are intended to be live-only deliveries, but the course next week @migarjo and I will be piloting a remote delivery to see if it's viable.

I don't want to rain on anyone's parade, but I feel that o

[2017-01-12 06:05] alrightjones commented on #439
@allthedoll that's awesome. Would you mind sharing your material with us? I'd love to see what you have.

What are the difficult parts? I've never built on-demand or live training material for GitHub, so I'm unfamiliar with the perceived challenges.

[2017-01-12 07:20] hollenberry commented on #415
@brianamarie That resource is awesome! I'm adding two new items to the OP that we're missing from the list.

[2017-01-12 14:33] crichID commented on #439
@alrightjones this is a great question! Ultimately, there are certain types of learning that are better suited for certain types of delivery. The API course @allthedoll is referring to is actually a highly consultative course. Our Services Engineering team works side by side with the user to understand their API needs and guide them in crafting solutions. That type of experience would be impossibl

[2017-01-12 14:51] swinton commented on #439
We also developed a 90 minute hands-on API class for Universe Training Day, please let me know if anyone here needs access to the repo:

### [Blasting-off-with-the-GitHub-API](https://github.com/universetrainingday/Blasting-off-with-the-GitHub-API)

[2017-01-13 01:30] hectorsector commented on #439
@allthedoll ✋ I'm volunteering if you need any advice/best practices for remote delivery

[2017-01-23 15:28] crichID opened #448 "Beautify downloads/index.html"
## Overview

When you build this repository locally (or package it for viewing behind a firewall) the page at on-demand/downloads/index.html looks like this:

![screen shot 2017-01-23 at 10 22 47 am](https://cloud.githubusercontent.com/assets/9950121/22209973/3fdcddfe-e156-11e6-9dd4-ca024a6bbcbe.png)

To improve the offline experience, we should add some formatting to this page to make it look mor

[2017-01-25 21:48] pedrorijo91 opened #452 "Recommend --force-with-lease"
## Overview
**TL;DR**
Recommend the usage of `git push --force-with-lease` vs the 'traditional' `git push --force`

### Extra Detail

On the [Git Out of Trouble - commit message sucks](https://services.github.com/on-demand/git-trouble/04) section the solution for the *I pushed* scenario references the usage of `git push --force` to solve the situation. We should replace the usage of the `--force`

[2017-01-26 13:46] crichID commented on #452
@pedrorijo91 this is a great idea. I :heart: your recommendation to replace `--force` with `--force-with-lease` and then add more information in the `Tell me why` section. If someone tries to simply do a push, Git will recommend `push --force` so I think it is important to discuss why we recommend `--force-with-lease` instead, but that should happen in the Tell me why section.

@pedrorijo91 we wou

[2017-01-30 21:39] HuonHelpingNoone opened #455 "{{wmf global ban}}"
@kikichu @alexz @allthefoxes @amandanp @anticomposite @barras @barras2 @c @cameron11598 @uyscuti @closedmouth @l235 @deskana @datguy @e @earwig @FastLizard4 @fluffernutter @gorillawarfare @grumble @idoh @samwalton9 @jackmcbarn @k6ka @jianhui67 @justberry @keegan @krenair @ks0stm @niko @ksft @logan @cyberpower678 @marktraceur @matthew_ @mike1901 @notaspy @oshwah @pokefan95 @revent @sagan @samtar @s

[2017-01-30 21:39] HuonHelpingNoone opened #456 "{{wmf global ban}}"
@kikichu @alexz @allthefoxes @amandanp @anticomposite @barras @barras2 @c @cameron11598 @uyscuti @closedmouth @l235 @deskana @datguy @e @earwig @FastLizard4 @fluffernutter @gorillawarfare @grumble @idoh @samwalton9 @jackmcbarn @k6ka @jianhui67 @justberry @keegan @krenair @ks0stm @niko @ksft @logan @cyberpower678 @marktraceur @matthew_ @mike1901 @notaspy @oshwah @pokefan95 @revent @sagan @samtar @s

[2017-01-30 21:39] HuonHelpingNoone opened #457 "{{wmf global ban}}"
@kikichu @alexz @allthefoxes @amandanp @anticomposite @barras @barras2 @c @cameron11598 @uyscuti @closedmouth @l235 @deskana @datguy @e @earwig @FastLizard4 @fluffernutter @gorillawarfare @grumble @idoh @samwalton9 @jackmcbarn @k6ka @jianhui67 @justberry @keegan @krenair @ks0stm @niko @ksft @logan @cyberpower678 @marktraceur @matthew_ @mike1901 @notaspy @oshwah @pokefan95 @revent @sagan @samtar @s

[2017-01-30 21:40] HuonHelpingNoone opened #458 "{{wmf global ban}}"
@kikichu @alexz @allthefoxes @amandanp @anticomposite @barras @barras2 @c @cameron11598 @uyscuti @closedmouth @l235 @deskana @datguy @e @earwig @FastLizard4 @fluffernutter @gorillawarfare @grumble @idoh @samwalton9 @jackmcbarn @k6ka @jianhui67 @justberry @keegan @krenair @ks0stm @niko @ksft @logan @cyberpower678 @marktraceur @matthew_ @mike1901 @notaspy @oshwah @pokefan95 @revent @sagan @samtar @s

[2017-01-30 21:40] HuonHelpingNoone opened #459 "{{wmf global ban}}"
@kikichu @alexz @allthefoxes @amandanp @anticomposite @barras @barras2 @c @cameron11598 @uyscuti @closedmouth @l235 @deskana @datguy @e @earwig @FastLizard4 @fluffernutter @gorillawarfare @grumble @idoh @samwalton9 @jackmcbarn @k6ka @jianhui67 @justberry @keegan @krenair @ks0stm @niko @ksft @logan @cyberpower678 @marktraceur @matthew_ @mike1901 @notaspy @oshwah @pokefan95 @revent @sagan @samtar @s

[2017-02-01 16:03] #452 closed

[2017-02-09 08:01] Geetus opened #464 "new access"
## Overview
**TL;DR**
Watched the video at the following link but found it confusing to follow as the issue it referes to is no longer valid. https://services.github.com/on-demand/intro-to-github/

Also: can i get on as a collaborator, many thanks

### Extra Detail

#### Screenshots
<If bug fix, please upload images of the error to better showcase the problem.>

#### Reasoning
<If new idea or dire

[2017-02-09 08:08] Geetus commented on #464
now on!

[2017-02-09 08:22] Geetus commented on #448
.

[2017-02-09 15:14] hectorsector commented on #464
Thanks for the update, @Geetus! Could you please help us find a link of the vide with the outdated instructions? The only one I see is [here](https://services.github.com/on-demand/intro-to-github/02/) which looks up to date.

[2017-02-09 19:07] #435 closed

[2017-02-09 21:20] Geetus commented on #464
@hectorsector
Hi Hector. Thanks for the link.

Here is the link that I was trying to use. Following the instructions it was not possible to find my own handle using 'branch-master'..
[https://services.github.com/on-demand/intro-to-github/](url)
https://services.github.com/on-demand/intro-to-github/

[2017-02-09 21:40] hectorsector commented on #464
@Geetus now that [you're a collaborator](https://github.com/githubschool/open-enrollment-classes-introduction-to-github/issues/3653) you should be able to create your own branch [right on the open-enrollment repo](https://github.com/githubschool/open-enrollment-classes-introduction-to-github).

[2017-02-14 16:43] brianamarie commented on #464
Hi @Geetus! You're right that the video is out of date, thank you for bringing that to our attention. CC/ @github/services-training for awareness: The instructions in the video tell users to comment on an issue, and that process has changed. @Geetus isn't the only one who has brought this up as a confusing issue.

[2017-02-15 18:53] r5atom commented on #464
On [page 2](https://services.github.com/on-demand/intro-to-github/02/) _>"Tell me why">"Why Did We Ask You to Comment on this Issue?"_ the explanation assumes the new collaboration is granted by leaving a _**comment**_ rather than _**creating an issue**_.

[2017-02-15 18:58] hectorsector commented on #464
You're absolutely right @r5atom! I can go ahead and correct it, but please feel free to try submitting a PR yourself if you get to it before I do!

[2017-02-15 19:03] brianamarie commented on #464
Actually @r5atom and @hectorsector I've already started a PR [here](https://github.com/github/training-kit/pull/468), I'd love your reviews!

[2017-02-15 21:01] hectorsector opened #470 "CSS Jitter at High Resolution"
## Overview
**TL;DR**
There is a jitter that occurs at high resolutions, see https://github.com/github/training-kit/pull/469#issuecomment-280109791 for complete details.

### Extra Detail
https://github.com/github/training-kit/pull/469#issuecomment-280109791

### How to Contribute
- [ ] Comment on this issue if you'd like to work/collaborate on it!
- [ ] Fork the [repository](https://github.com/gi

[2017-02-16 22:55] ghaseminya opened #474 "add new locale"
Hi,
I am very happy to translate training-kit cheat-sheet to Persian(IR) locale,
Is there any body that work on it?

[2017-02-17 14:55] brianamarie commented on #474
Hi @ghaseminya! That's fantastic!

If you're willing to translate, the first step would be to fork this repository, and add a directory and markdown file in the `/downloads/` folder, following the structure of the other markdown files.

Once you've added those files, open a pull request in this repository against the master branch. Please let me know if you need any help!

[2017-02-17 18:00] ghaseminya commented on #474
Hi @brianamarie
Thanks,
I create this file in `/download/fa` directory and translate origin file in it.
https://github.com/ghaseminya/training-kit/blob/master/downloads/fa/

[2017-02-21 13:31] brianamarie commented on #474
@ghaseminya Awesome - since there's such great work happening in the pull request, I'm going to close this issue.

[2017-02-21 13:31] #474 closed

[2017-02-21 15:30] crichID opened #477 "Adding the What is GitHub? Video"
## Overview
**TL;DR**
The GitHub video team has created a :sparkles: video to answer the question: What is GitHub? Should we link it on this site?

Video URL: https://youtu.be/w3jLJU7DT5E

## Ideas for places to put it

- In the Path
- On the patchwork page
- At the beginning of the Intro class?

[2017-02-21 16:01] brianamarie commented on #477
@crichID 😍 What a great idea!

I worry it would be redundant if it's also in the intro class, but some may not go through the intro class who are using the path...but it's also a 3 minute video so the risk of repeating it twice doesn't seem that bad. 🤔

Couldn't hurt!

I say yes! 💯

[2017-02-21 18:12] jameshenrylittle opened #479 "Training video still referencing closed comment"
## Overview
**TL;DR**
The youtube video at https://www.youtube.com/watch?v=kocHKaHtZCc is still asking briannamaries comment to be opened in the tutorial but the comment is closed and the label for it has been deleted.

### Extra Detail

#### Screenshots
<If bug fix, please upload images of the error to better showcase the problem.>

#### Reasoning
<If new idea or direction, please create a checkl

[2017-02-21 18:14] hollenberry commented on #479
@jameshenrylittle Thank you for the notice! I'll update our video to reflect current directions.

[2017-02-22 00:31] abdulhannanali commented on #448
@crichID Hey! I can work on this as my first issue!

[2017-02-22 14:30] brianamarie commented on #448
@abdulhannanali That's fantastic, thank you! Feel free to fork and open a pull request, and let us know if you need or want any help along the way. 😄

[2017-02-23 22:33] hectorsector opened #480 "Better explanation when a page 404s"
## Overview
**TL;DR**
On the [GitHub Desktop](https://services.github.com/on-demand/github-desktop/) and [CLI](https://services.github.com/on-demand/github-cli/) courses, the CI tests kick off and check that each page that has previously been added to the showcase doesn't 404. When a page does 404, a learner's merge is blocked. We should write clearer instructions around how to resolve that specif

[2017-02-24 16:36] r5atom commented on #480
I guess the instruction should be to fix the affecting `.yaml` file, but a possible difficulty is that the test **returns the failing URL** and not the delinquent `.yaml` file. But possibly I am overlooking something in the log.

Because learners where instructed to format the url the same way as the `.yaml` file name, it is easy to find this file, but what if the user decides to point to another

[2017-02-24 19:18] hectorsector commented on #480
You're right, @r5atom. It looks like @brianamarie chose to change that URL to `github.com` in the past, I think I fixed one once that I removed altogether. We should probably agree on something before moving forward 😉 Thoughts @github/services-training?

This is true, but the failing URL will have the handle, which should then point the learner to the corresponding file in the `_pages` directory.

[2017-02-24 19:35] brianamarie commented on #480
Guilty, I have been changing broken links to `github.com`. :bowtie: I'm open to other alternatives. I believe @crichID has been deleting the files completely, which is another option.

☝️ This 💯

[2017-02-24 19:40] hectorsector commented on #480
I've been removing them as well.

[2017-02-25 19:47] r5atom commented on #480
What if a learner decides to make the following `John.yaml`
[code]
After John forgets to pay for hosting 😏  CI will log

`  *  External link `_**`my-other-page.com`**_` failed: 404 No error `

This information will not point to `John.yaml`.

Although in the majority of the cases this won't be an issue, is it an idea to log the filename the script is evaluating? For instance [here](https://github.c

[2017-02-27 13:47] hectorsector commented on #480
@r5atom I believe you're right, that there are no checks to ensure that the `pageURL` matches the user's GitHub Pages URL. Let's check with @brianamarie @stoe and @kylemacey since they did all the work on the Ruby tests to ensure I'm not mistaken here. While we've got their 👀: are users allowed to touch files other than their own? For example, would `r5atom` be allowed to change `hectorsector`'s e

[2017-02-27 14:32] brianamarie commented on #480
@r5atom @hectorsector Correct, the tests only check for a valid URL. We decided that some users may create a repository under a different name, and we didn't need to penalize them for that.

@r5atom @hectorsector Yes. 👍 Tests only check contents of file, not who is changing which file. (Although if we can figure out how to test for that, it would be lovely to add some extra protection against the

[2017-02-27 14:35] hectorsector commented on #480
Thanks @brianamarie! With this in mind, I think the extra troubleshooting steps should just tell the learner that they can remove the offending file until changes are made to the CI tests and we get more visibility.

[2017-02-27 15:06] abdulhannanali commented on #448
Cool @brianamarie I'll start right away

[2017-02-28 10:25] abdulhannanali commented on #448
@brianamarie Some questions before I start.

- Should this downloads page use the layout similar to the other pages using Minimal Mistakes?
- Checking out the [link](https://services.github.com/resources/#cheat-sheets) @crichID mentioned, on what basis are the given icons assigned.
- What's better, An index file maintaining the file paths of all the resources within downloads for every locale or r

[2017-02-28 14:18] brianamarie commented on #448
@abdulhannanali These are all great questions! I'll do my best to answer, but any other @github/services-training members, please feel free to lend your expertise. 😊

Minimal Mistakes would be 💯 👍 great.

Hm...these decisions were made before my time on the training team, so I actually don't know. @crichID Do you have any ideas on this?

I have no strong opinion on this. Maybe @crichID, @stoe, or

[2017-02-28 14:54] hectorsector commented on #448
@abdulhannanali this depends on your comfort level. I will tell you that in the link @crichID shared, we don't get that fancy, and we just manually maintain the list 😉 If you're into Jekyll and can work through the logic, I'm game! If not (but you're willing to try it out later), I suggest 🚢ing a first iteration with manually added links, and then (if you'd like) we can collaborate on a second ite

[2017-02-28 14:55] crichID commented on #448
@abdulhannanali that is a great question and it was a design decision more than a technical one. We can grab copies of those icons if you would like to reuse them here.

[2017-03-01 15:32] r5atom commented on #480
Got something going at #481 👀 .

[2017-03-02 17:35] hectorsector commented on #480
Now that #481 has 🚢ed, it's time to close this one. Huuuuge thanks, @r5atom!

![](http://i.giphy.com/IcGkqdUmYLFGE.gif)

[2017-03-02 17:36] #480 closed

[2017-03-02 17:37] hectorsector commented on #464
Looks like @hollenberry is going to update the video as referenced in #479 so I will close this one out as a duplicate. Thanks for reporting this @Geetus

[2017-03-02 17:37] #464 closed

[2017-03-08 08:08] #479 closed

[2017-03-08 21:06] hollenberry opened #484 "Git Out of Trouble is in Trouble (Broken Links)"
Received an e-mail via services@github with the following feedback (format updates are mine to make discussion points clear).

### Broken Links
[code]

### Discussion Points
[code]

Next Steps:
- I'll open a PR to fix these broken links.
- @beardofedu do you have any thoughts on the discussion points? I think they're pretty solid ideas. If I recall correctly, you and @hectorsector have adjusted th

[2017-03-08 21:14] beardofedu commented on #484
@hollenberry
I think this occurred when we fixed the links to be more SEO aware (findable?). We should fix this, and if you need me to I can, but I know you self-assigned / I think I saw a `commit` get pushed through while writing this...

### Discussion Points
- Git was added for SEO and _should_ be added to the left panel
- We might be able to get the stylesheet to alternate colors or something

[2017-03-08 21:23] hollenberry commented on #484
Should we add it to the scenario page titles?

![screen shot 2017-03-08 at 1 20 31 pm](https://cloud.githubusercontent.com/assets/13326548/23724571/0c3d7e26-0402-11e7-9504-326e81a62a2c.png)

This sounds great! I reached out to the user who e-mailed to ask if he wanted to create this issue/PR-fix, and gave him a day to do so. Since we can't leave the links broken, I love this as an extension.

👍  I

[2017-03-08 21:25] beardofedu commented on #484
1. Yes, they should match.
2. In regards to the drop-downs, this is the only course that is _currently_ using them, as an FYI.

[2017-03-08 21:26] hollenberry commented on #484
I'd actually love to make this a thing on the OS course, too. That was the original intent for sections like "Contributing" that are hard to write content for, but good as headers.

[2017-03-08 23:06] EricVook commented on #484
Looks good. Of course verification will be easier when updates hit the [URL](https://services.github.com/on-demand/git-trouble/git-scenarios). :smile_cat:

[2017-03-09 15:00] hectorsector commented on #484
I love the witty title, @hollenberry!

@beardofedu @hollenberry it appears that there are still links that 404, ☝️. Thanks for noticing @EricVook. I'm going to reopen this issue until we can get that taken care of.

Additionally, our CI tests should be catching broken links, shouldn't they? Seeing as the [last CI build didn't catch the broken links](https://travis-ci.org/github/training-kit/builds

[2017-03-09 15:57] brianamarie commented on #484
I don't _think_ we have tests in place to check for valid HTML on training-kit. :bowtie: I will open an issue about this.

![](https://media.giphy.com/media/W9wHF6yVazlrW/giphy.gif)

[2017-03-09 16:00] brianamarie opened #487 "Add to CI: Link checks"
## Overview
**TL;DR**
We want the travis tests to run to include tests for valid links.
cc @github/services-training

### Extra Detail
- We don't want to publish content with broken links. 🔗
- This was discovered because we had [some broken links](https://github.com/github/training-kit/issues/484#issuecomment-285374971).
- We already use this type of test in other repositories, like [on-demand-git

[2017-03-09 17:49] hollenberry commented on #484
Hey @hectorsector !! Thank you for re-opening! I intended to merge this into services-web as soon as #486 is merged in.

Are there any other links to fix in the meantime?

[2017-03-09 18:04] crichID commented on #484
@hollenberry with bug fix type PRs, it is probably best not to hold up making the updates to services-web while we wait for non-urgent PRs. I know it is an extra review, but smaller :ship:s are easier to sail :wink:

[2017-03-09 18:17] #477 closed

[2017-03-09 18:18] hollenberry commented on #484
This is a good point. 👍 I'll do the right thing next time 😄

[2017-03-10 00:36] r5atom commented on #484
Would it be as simple as adding

`ul ul { margin: 10pt; }`

here `_stylesheets/_navigation.scss`
or here `_stylesheets/_sidebar.scss`

❓

[2017-03-10 13:36] hectorsector commented on #484
@r5atom the template we use for on-demand content is called [Minimal Mistakes](https://mmistakes.github.io/minimal-mistakes/). The left panel is explained in Minimal Mistakes' [navigation documentation](https://mmistakes.github.io/minimal-mistakes/docs/navigation/), as well as the [custom side navigation documentation](https://mmistakes.github.io/minimal-mistakes/docs/layouts/#custom-sidebar-navig

[2017-03-10 13:36] #484 closed

[2017-03-13 15:03] EricVook commented on #484
The links look great now. (LGTM)

The [Minimal Mistakes](https://mmistakes.github.io/minimal-mistakes/) template seems to assume _short_ titles for sub-sections.
- Longer titles create confusion because of wrapping.
- Can we arrange for a separator symbol (like a bullet) to be part of our titles without changing the template?

[2017-03-13 15:23] beardofedu commented on #484
@EricVook this would become a style discussion, we typically try to match the headings at the top of a topic to the name listed in the side nav, it might be possible for us to provide a shorter description name...

As far as the bullet / separator, that might be something we can look into.

[2017-03-20 20:04] beardofedu opened #493 "GitHub for Windows Users - Future Additions"
## Overview
With the [GitHub for Windows Users](https://github.com/github/training-kit/pull/488) about to go live, I am creating this issue for students and other interested parties to post relevant ideas to enhance the class before working on the next iteration of the course.

#### Reasoning
From a previous conversation with @saraford on Slack, the following ideas were suggested:
- Example of bra

[2017-03-21 13:28] hectorsector opened #496 "Turn off yamllint warnings"
## Overview
**TL;DR**
`yamllint` provides some warnings that may not be of any use and more confusing to the learner than they're worth ([example](https://travis-ci.org/githubschool/on-demand-github-pages/builds/208953770#L434)). We should look into their use, and remove them if they serve no purpose.

#### Courses Affected

- [Using GitHub Desktop](https://services.github.com/on-demand/github-des

[2017-03-21 13:28] hectorsector commented on #496
✋ I'm happy to work on this, created the issue so I don't lose track of it.

[2017-03-30 18:42] hectorsector opened #497 "Automatically compile `scss` stylesheets"
## Overview
**TL;DR**
Stylesheets are supposed to be automatically compiled from the `scss` source files, but they're not. This was [discussed with the last UI update](https://github.com/github/training-kit/pull/478#issuecomment-289380291).

### How to Contribute
- [ ] Comment on this issue if you'd like to work/collaborate on it!
- [ ] Fork the [repository](https://github.com/github/training-kit)

[2017-03-30 18:47] hectorsector opened #498 "Improve submenu appearance"
## Overview
**TL;DR**
The submenus (currently in use in [Git Out of Trouble](https://services.github.com/on-demand/git-trouble/)) don't appear to be submenus. We need to alter the way this renders so it's easier to see that these are submenu items. This came up in https://github.com/github/training-kit/pull/478#issuecomment-290496285.

### Extra Detail

#### Screenshots

![](https://cloud.githubus

[2017-04-04 14:12] mwiesen opened #499 "Git Out of Trouble is in Trouble (Broken Links)"
@beardofedu @hollenberry

Very related to #484:

`[Set Up Your Environment](/on-demand/git-trouble/01)` does not resolve to `/git-trouble/git-set-up` as well.

[Here is a search](https://github.com/github/training-kit/search?utf8=%E2%9C%93&q=%2Fon-demand%2Fgit-trouble%2F01&type=) for all occurrences.

[Here](https://services.github.com/on-demand/git-trouble/too-many-commits) is one of the five pag

[2017-04-04 14:23] brianamarie commented on #499
cc @github/services-training

@mwiesen I'm not sure I understand the problem. I tried to replicate based on the instructions in the Zendesk ticket, but wasn't getting broken links. Am I missing something?

![test-broken-link](https://cloud.githubusercontent.com/assets/9906718/24661580/5b291e20-1918-11e7-8614-bb2c06c4481a.gif)

[2017-04-04 14:24] brianamarie commented on #499
OH! Of course, after I comment, I see. I understand now, @mwiesen. I will work on fixing this today.

[2017-04-04 20:59] #499 closed

[2017-04-05 07:40] mwiesen commented on #499
@brianamarie thanks for the very quick fix! ❤️

[2017-04-10 21:15] #497 closed

[2017-05-04 14:24] zalew16 commented on #379
#326

[2017-05-22 15:12] crichID commented on #424
@hectorsector perhaps teacher-bot could do this for us?

[2017-05-22 18:19] hectorsector commented on #424
This sounds fairly easy to do! [Added](https://github.com/github/teacher-bot/projects/1#card-3024522) to the project after the MVP.

[2017-05-22 18:42] zalew16 commented on #379
#380

[2017-05-25 14:45] brianamarie opened #513 "Recreate Gif in Desktop Course: review-local-workflow.gif"
## Overview
**TL;DR**
The current [on-demand desktop course](https://services.github.com/on-demand/github-desktop/) features a .gif that isn't accurate with the name of the file.

### Extra Detail
Right now, the file _should_ be named `githubstudent.yaml` but is named `githubteachera.yaml`. This .gif should be recreated for accuracy.

cc/ @github/services-training

#### Screenshots
![](https://git

[2017-06-20 04:54] alrightjones commented on #439
@swinton bringing this one back to life since we are starting to scope possible educational partnerships for API / GitHub integration training.

1. Do you have any updates on your [Universe Training Kit](https://github.com/universeworkshops/Blasting-off-with-the-GitHub-API)?
2. Does it include GraphQL? If not, how can we incorporate?
3. Have we thought about parallel distribution channels for the

[2017-06-20 06:18] muhaznazabdi10 commented on #439
i don't understand the meaning of prepender in the development of website
using html (challenge)

On 20 Jun 2017 7:54 am, "Jared Jones" <notifications@github.com> wrote:

[2017-06-20 06:57] hollenberry commented on #439
@alrightjones

Awesome questions! I'm not sure about the first and third, but a GraphQL On-Demand Course is actually taking preliminary shape this week during the services-engineering Hack House. I'll contact you with the in-house issue, but if/when this starts to take shape publicly, I'll make sure to @mention you in the relevant threads.

Also, if you need extra eyes, I'd be interested in joinin

[2017-06-29 23:05] ckiltolier opened #519 "Manage several languages in the wiki of a github project"
Hi there

I'd like to manage two languages in [the wiki of the CO2 project](https://github.com/pixelhumain/co2/wiki). Is it possible ?

I didn't find this tip anywhere.

For now my solution is : create two projects : one in french and one in english

Thank you for your answer !

[2017-07-03 13:36] brianamarie commented on #519
Hi @ckiltolier! I'm not sure I understand the question. It sounds like you might want to contact the maintainers of that repository and ask them there.

[2017-07-03 14:50] crichID commented on #519
@ckiltolier the GitHub wiki's use [gollum](https://github.com/gollum/gollum) so searching their documentation might be a good place to start. All of the documentation we have lives [here](https://help.github.com/categories/wiki/).

[2017-07-03 14:51] #519 closed

[2017-07-13 23:10] joshmorel opened #524 "Dead link in README.md - self-study.md"
The ``/self-study.md`` link in the line below of README.md is dead. Is it redundant because of the link: https://services.github.com/on-demand/path/

[2017-07-17 04:09] PuZZleDucK commented on #487
Running `bundle exec htmlproofer --external_only ./_site/` gets you most of the way there... only there are a few false positives I think... I'm also unsure how to "run tests" for your build (looks to be manual testing?), so not sure I can make anything happen.

[2017-07-17 12:51] brianamarie commented on #524
@joshmorel Thank you for opening this issue. I'll work on getting this corrected. 👍

[2017-07-17 13:27] #524 closed

[2017-07-18 18:07] JasonEtco opened #527 "main.css isn't compiling normally"
## Overview
`main.css` doesn't seem to be compiling as part of Jekyll. Does not work within `script/server` or `jekyll build`. Deleting `assets/css/main.css` and compiling again does not re-add the file.

Current workaround is to compile `assets/_scss/main.scss` manually (through command-line SASS), but it should be fixed to do that automagically through the `script/server` command.

[2017-07-20 03:36] beardofedu commented on #439
@alrightjones since we shipped an [Introduction to GraphQL](https://services.github.com/on-demand/graphql/) course, do you think we can close this issue out?

cc: @kdaigle just for awareness that we created a GraphQL course!

[2017-07-20 16:33] brianamarie opened #532 "Emoji Accessibility"
## Overview
**TL;DR**
Emojis aren't accessible out of the box. For example, people who have impaired vision and may be using screen readers won't interact with emojis consistently across the board. Let's make sure our content is accessible.

### Extra Detail

#### Screenshots
I was curious about this, so I asked a developer who is blind, and very open about how developing isn't always accessible.

[2017-07-20 16:43] JasonEtco commented on #532
I support this endeavor. I'll do some research as well, I know of another a11y expert who might have some thoughts (Rob Dodson)

[2017-07-20 16:46] alrightjones commented on #439
@beardofedu absolutely. 🙏

[2017-07-20 16:46] #439 closed

[2017-07-20 16:55] brianamarie commented on #532
@zersiax for more insight/guidance on making our resources (found [here](https://services.github.com/on-demand/)) more accessible.

[2017-07-20 16:59] brianamarie commented on #532
Also pinging @DenMcH for same reasons - more insight/guidance on making our resources (found [here](https://services.github.com/on-demand/)) more accessible.

[2017-07-20 20:02] crichID commented on #532
@brianamarie thank you for surfacing this concern and taking immediate action :heart:.

[2017-07-21 00:25] JasonEtco commented on #532
Interesting tweet thread (still developing): https://twitter.com/JasonEtco/status/888077256131616768

[2017-08-09 12:12] brianamarie commented on #532
[Intro course in progress here](https://github.com/github/training-kit/pull/543), all review welcome

[2017-08-10 12:53] crichID opened #544 "Add local language to cheatsheet translations"
## Overview
**TL;DR**
If I come to the website looking for a cheatsheet in French, I should see Francais instead of French in the list of languages.

### Extra Detail

#### Screenshots

<img width="852" alt="screen shot 2017-08-10 at 8 52 13 am" src="https://user-images.githubusercontent.com/9950121/29171086-41f89a8e-7da9-11e7-8b0d-98dc46b6a159.png">

#### Reasoning
On the [cheat sheet page](https

[2017-08-10 20:07] JasonEtco opened #545 "Console error for missing fontawesome stylesheet"
Started in https://github.com/github/services-site/pull/43, there is a console error that appears to be looking for a fontawesome stylesheet that doesn't actually exist in the repo.

[code]

This `<link>` tag should be removed from the `index.html` file.

[2017-08-14 06:45] stoe opened #547 "Add html-proofer tests"
We should add [html-proofer](https://github.com/gjtorikian/html-proofer) tests to our `Rakefile` and/or to Travis to test for missing `alt` tags.

See also https://github.com/github/training-kit/pull/535

[2017-08-14 09:15] brntbeer commented on #547
@stoe if we add it to the rakefile in `rake:test` it will be run by travis (in other words, there's no "or" option in my opinion). I'm a fan of doing this, it's also helpful for finding broken HTML links in general, not just missing tags

[2017-08-14 14:45] brianamarie commented on #547
@stoe Is this similar to https://github.com/github/training-kit/issues/487? I'm happy to close that one out in favor of this issue if it will be more active  👍

[2017-08-15 07:16] stoe commented on #547
Noted, @brntbeer
I knew that but wanted to leave options, as to probably run it separately.

[2017-08-15 07:17] stoe commented on #487
Duplicate of #547

[2017-08-15 07:17] #487 closed

[2017-08-17 13:22] #513 closed

[2017-08-19 19:21] ewe2 opened #554 "_config.yml changes breaks script/package"
## Overview
**TL;DR**
script/package fails because google_tracking_id: no longer exists

### Extra Detail
sed invocation fails with
[code]

[2017-08-21 13:17] brianamarie commented on #554
@ewe2 Thank you for opening this issue.  @github/services-training Any volunteers to tackle this?

[2017-08-21 19:19] brianamarie commented on #379
This is a great question. @JasonEtco Could you help us answer this question and possibly find a path forward?

[2017-08-22 14:40] brianamarie opened #557 "Add number of contributions to graph"
## Overview
Right now, the contribution graph doesn't state the number of contributions. However, profile contribution graphs do.

### Extra Detail

#### Screenshots

<img width="748" alt="screen shot 2017-08-22 at 9 38 21 am" src="https://user-images.githubusercontent.com/9906718/29571096-ec24dc70-871d-11e7-99bf-df9ca4eb0260.png">

#### Reasoning
This would make the graph more accessible to those

[2017-08-22 16:13] brianamarie commented on #532
Great resource @beardofedu found: http://webaim.org/techniques/screenreader/

[2017-08-22 17:32] wisn opened #561 "Arabic Translation Header Should Be RTL"
## Overview
**TL;DR**
The main body of the Arabic translation is right-to-left (RTL) aligned. So, the header should be RTL as well.

### Extra Detail

#### Screenshots
![screenshot from 2017-08-23 00-29-12](https://user-images.githubusercontent.com/8147926/29578684-5b43f3c6-879a-11e7-81e2-e5f2483be17a.png)

### How to Contribute
- [x] Comment on this issue if you'd like to work/collaborate on it!

[2017-08-22 17:36] hollenberry commented on #561
@wisn You're absolutely right! Thank you for bringing this up!

Would you be interested in opening up a PR to help us make the change?

[2017-08-22 17:39] wisn commented on #561
@hollenberry Actually, I'm planning to fix markdown on French translation first.

![screenshot from 2017-08-23 00-38-08](https://user-images.githubusercontent.com/8147926/29578966-739feec4-879b-11e7-8822-546f0d4c6f61.png)

[2017-08-22 18:16] wisn opened #565 "Fix ID Translation on the Cheat Sheet and Add It to the Translations List"
## Overview
**TL;DR**
I've saw an effort to translate the cheat sheet to Bahasa Indonesia (see #403). However it's merged although unfinished. I do love to fix the translation and add it to the translations list on the cheat sheets page.

### How to Contribute
- [x] Comment on this issue if you'd like to work/collaborate on it!
- [x] Fork the [repository](https://github.com/github/training-kit).
-

[2017-08-22 18:18] wisn commented on #565
I'm working on this right now :)

[2017-08-22 19:00] wisn commented on #561
This issue has been solved in #566.

[2017-08-22 19:00] #561 closed

[2017-08-22 19:05] #544 closed

[2017-08-22 19:11] wisn commented on #545
@JasonEtco The link you're pointed out is broken.

[2017-08-22 19:12] cg-cnu commented on #545
Seems like something I can handle but the given link is broken.
Would you mind fixing it and give more details :)

[2017-08-22 19:12] cg-cnu commented on #545
@wisn you just beat me to it!

[2017-08-22 19:14] brianamarie commented on #545
@JasonEtco @wisn @cg-cnu Ah, since the link in the original post is to a private repository, it isn't publicly viewable. Some info about that link:

Body of the original PR:

[code]

Content of the PR: Just removed that link from the index, a 1 line removal. Very simple. 😄

Hopefully this context is helpful. If anyone would like to take it on it would be very appreciated, but please feel free to a

[2017-08-22 19:15] wisn commented on #545
@cg-cnu If you want to handle this and fix it, I don't mind.

[2017-08-22 19:21] cg-cnu commented on #545
@wisn That's completely cool! Please go ahead. Good luck! 😄

[2017-08-22 19:22] JasonEtco commented on #545
Woops sorry about that friends 🙇 Thanks for clearing it up @brianamarie

[2017-08-22 19:23] JasonEtco commented on #545
Actually, I'm going to close this because it's been addressed in a9414ebe033f628205b9c1f59f6efd71316c0403. Thanks everyone ❤️

[2017-08-22 19:23] #545 closed

[2017-08-22 20:03] beardofedu opened #568 "Reviewing GitHub 101"
## Overview
**TL;DR**

Reviewing the GitHub 101 and identifying any new features, bug fixes, or general items that need eyes or a refresh.

- [x] References to Continue button should be written with a capital C to be consistent with button look / feel (Introduction to GitHub page)
- [x] Standardize **bolding** in content
- [x] Select the `Unlimited public repositories for free.` option. (Create a

[2017-08-22 20:08] crichID commented on #568
@beardofedu so many :heart: :heart:s for doing this! Thank you ...

[2017-08-22 20:25] hectorsector commented on #557
This should be a fairly simple thing to implement, @brianamarie. Feel free to move it to my column!

[2017-08-22 20:40] beardofedu commented on #568
While most of these edits are straightforward, I could use some opinions on how to deal with this:

Basically, this topic is 1) really short 2) doesn't contain any steps. So, I can move the content to the Create a Branch topic **or** make it more informational and bring in a little more content.

@github/services-training for 💭 s

[2017-08-23 14:50] brianamarie commented on #568
I vote for adding more information and adding content. It's the main point of the entire course, so I think it's worth it. We could easily add [this video](https://www.youtube.com/watch?v=47E-jcuQz5c&t) as one resource.

[2017-08-23 22:45] JasonEtco commented on #527
This has been fixed in #556

[2017-08-23 22:45] #527 closed

[2017-08-24 12:36] hectorsector commented on #532
[This Chrome extension](https://chrome.google.com/webstore/detail/wave-evaluation-tool/jbbplnpkjmmeebjpijfedlgcdilocofh) seems _really_ helpful in this endeavor, @brianamarie!

![screen shot 2017-08-24 at 8 35 45 am](https://user-images.githubusercontent.com/16547949/29666667-4895acac-88a7-11e7-869a-ee5ed12da34e.png)

[2017-08-24 12:40] brianamarie commented on #532
@hectorsector This is an awesome resource, thank you!!!

[2017-08-24 15:05] hectorsector commented on #496
With the introduction of teacherbot, I'm going to close this in lieu of upcoming unit tests via the tool. If anyone wants to try their ✋ at this, please feel free to reopen and introduce a PR.

[2017-08-24 15:05] #496 closed

[2017-08-24 15:39] crichID commented on #415
@github/services-training all of the tasks in the OP are either ✔️  or in progress in #436, #440 or #571. Given this, I am going to close out this issue :tada:

[2017-08-24 18:37] beardofedu commented on #568
This was fixed by modifying content in GH 102 and 103 (@hectorsector). I simply created a new file titled `help-gh102-103-404.md` and included it in the `16-collaborate.md` file for each of those courses.

This removed the 404 error content that was incorrectly displaying in the GH 101 course, but retains it in the 102 | 103 courses.

[2017-08-24 20:08] #415 closed

[2017-08-25 02:41] beardofedu opened #573 "Reviewing GitHub for Windows | Add Content"
## Overview

Review the content of the GitHub for Windows course and potentially add content based on #493.

@hollenberry since reviewing / adding content can potentially be duplicative, I'm going to open this issue and identify some of the things I find and I will open the pull request to implement both the edits and new content.

- [x] Fix this: the links to other courses on the first page don't

[2017-08-25 14:30] crichID commented on #424
@hectorsector now that teacher-bot is configurable, we can easily add this to the comment left by teacher-bot after the PR is merged :tada: I will add a teacherbot.yml file to each of the on-demand repositories to handle this!

[2017-08-25 15:49] #424 closed

[2017-08-25 20:00] hectorsector commented on #498
@JasonEtco did this and we now have much prettier submenus! 🎉

<img width="638" alt="screen shot 2017-08-25 at 3 59 53 pm" src="https://user-images.githubusercontent.com/16547949/29730527-77e6ab3e-89ae-11e7-86ce-dc4a25e6db50.png">

[2017-08-25 20:00] #498 closed

[2017-08-25 20:01] beardofedu opened #576 "New Course: Managing Merge Conflicts"
## Overview
**TL;DR**
Build a course identifying how to manage merge conflicts **and** include examples in different IDEs. Ideally finished before the IDE Week of webcasts (September 11 - 15) so it can be plugged during the talks.

#### Initial Outline / Ideas

- [ ] Describe merge conflicts
- [ ] Have pre-created repository with existing merge conflicts
    - [ ] Maybe build a GitHub pages resume

[2017-08-25 22:17] crichID opened #577 "Reviewing GraphQL"
### Clean Up Week :tada:

It's clean up week, and my course to review is GraphQL. Here it goes:

- [ ] Remove extra heading at the top of each page

**Introduction to GraphQL**
- [ ] The introduction could stand to be tightened up a little. It seems like we are doing a lot of talking before we get to the point.
- [ ] Rather than starting with links to different apps that have APIs, it might be int

[2017-08-25 23:02] beardofedu commented on #573
Based on the initial issue that looked to enhance the Windows content, I think my addition of how to push your changes to your repository on GitHub, as well as reviewing the content for inconsistent style usage and spelling errors makes this PR ready to be reviewed!

Looking for 👀 from @github/services-training

### Original enhancement requests

This course was never designed to be a introduction

[2017-08-28 14:59] brianamarie commented on #568
@beardofedu What are your thoughts on moving the gifs to the top of the page instead of in the "show me how"? 🤔

[2017-08-28 15:11] beardofedu commented on #568
@brianamarie it seems like that is the direction we are going with all of the other courses so I am all for it.

[2017-08-29 07:33] hollenberry commented on #448
👋 @abdulhannanali !

Just wanted to check in. We're currently running through all of our stale issues and cleaning them up. Are you still interested/do you still have the bandwidth in helping us out with this one? 😄  We'd be happy to support you if you need anything!

[2017-08-29 11:54] crichID commented on #448
Actually @hollenberry I was just looking at this and I think the process is much simpler now.

The goal was to make this page better for offline viewing since resources/downloads lived on services.github.com instead of here on training-kit. Now that resources have been moved back to training-kit, I "think" we can just redirect anything from downloads/ to the resources/cheatsheets.md. @JasonEtco do

[2017-08-29 16:07] JasonEtco commented on #448
That would certainly be simpler; as far as I know, the content is the same so I have no problem doing that.

[2017-08-30 18:51] brianamarie commented on #532
All of the main todos in this issue have been completed. As we continue to work on content, I think it's important we keep accessibility in mind, and use the great tools that we've found! 🎉

[2017-08-30 18:51] #532 closed

[2017-08-30 20:11] #568 closed

[2017-08-30 20:32] #557 closed

[2017-08-31 22:30] beardofedu commented on #577
Please @ mention me when you are ready for some 👀

[2017-09-01 10:52] mberasategi opened #583 "Translation of Learning Path to Spanish"
## Overview
**TL;DR**
<One to two sentence description of the issue you are encountering or trying to solve.>
I'm thinking os translating the [Learning Path](https://services.github.com/on-demand/resources/learning-path/) into Spanish, but have some doubts on how to do it.

### Extra Detail

#### Reasoning

I decided to start working with Github with my Communication Degree students this fall seme

[2017-09-01 14:36] beardofedu commented on #583
@mberasategi First off, this is super exciting! 🎉  🎉  🎉  🎉  🎉  So the Training Path file that you want to modify is `training-kit/resources/learning-path/index.html`. For naming conventions, since our folder structure currently has the learning-path in its own folder,  I think the translated content should exist within that folder. So something like: `training-kit/resources/learning-path/es_index.

[2017-09-01 21:07] #573 closed

[2017-09-01 21:07] #493 closed

[2017-09-03 18:57] annaek opened #584 "Add me!"
## Overview
**TL;DR**
<One to two sentence description of the issue you are encountering or trying to solve.>

### Extra Detail

#### Screenshots
<If bug fix, please upload images of the error to better showcase the problem.>

#### Reasoning
<If new idea or direction, please create a checklist of proposed ideas or next steps. [Example](https://github.com/github/training-kit/issues/415).>

### How

[2017-09-03 20:27] learneradarsh commented on #448
I've done downloads/index.html for better user experience (:

[2017-09-04 08:04] mberasategi commented on #583
Great to know! I'm going to start straight away then since classes begin this week :open_mouth:

Correct me if I'm wrong, fork, translate, commit/push, pull request?

[2017-09-04 10:02] mberasategi commented on #583
Done the first pull request (#586) with the translation of the first pages. I hope it's enough to test how the interface would work and to get everything started...

[2017-09-05 17:49] hollenberry commented on #584
Hey @annaek ! 👋  I think you might be looking for this repository: https://github.com/githubschool/open-enrollment-classes-introduction-to-github/issues

We're looking forward to seeing you over there! 😄

[2017-09-05 17:49] #584 closed

[2017-09-06 11:47] billyjoebaron opened #587 "add me up please"
Going over the environment again for good measure

### I

#### Screenshots
<If bug fix, please upload images of the error to better showcase the problem.>

#### Reasoning
<If new idea or direction, please create a checklist of proposed ideas or next steps. [Example](https://github.com/github/training-kit/issues/415).>

### How to Contribute
- [ ] Comment on this issue if you'd like to work/collabo

[2017-09-06 15:14] scorphus opened #588 "Error while installing on Mac OSX [nokogiri (1.8.0)]"
This is just a notice those (my future self included 😄 ) who find themselves stuck with the following error:

[code]

Besides specifying the location of libxml2 on your system, you'll need to specify the _gems directory to get installed gems_ (`gem help install`). The following worked for me:

[code]

Then run `./scripts/setup` again and you'll be fine 😉

Although I'll close this issue right away,

[2017-09-06 15:14] #588 closed

[2017-09-06 16:44] hollenberry commented on #587
Hey @billyjoebaron  ! 👋 I think you might be looking for this repository: https://github.com/githubschool/open-enrollment-classes-introduction-to-github/issues

We're looking forward to seeing you over there! 😄

[2017-09-06 16:44] #587 closed

[2017-09-08 09:30] mberasategi commented on #583
Not sure if we should keep discussion about the "how"s here or in the pull request discussion. Anyway, I've just found that part of the content is in `_includes` (and can't figure out the reasoning for some being directly in the path, some being outside. I guess it's reused somewhere). The thing is, path trouble again, I suggest

- append `-es` to filename of files in root, like `_includes/intro-v

[2017-09-15 15:13] hectorsector opened #591 "Grammar updates to Spanish translation Intro to GitHub"
The Spanish translation of _Intro to GitHub_ is [now live](https://services.github.com/on-demand/intro-to-github/es/) 🎉

While I was deploying this internally, @dpmex4527 🙇 suggested a few updates to the Spanish grammar, which I am copying here so it is publicly visible and we can chip away at it.

/cc: @mberasategi since you submitted the initial translation ❤️

<img width="570" alt="screen shot

[2017-09-15 15:18] hectorsector opened #592 "Broken links in merge explanation"
The Spanish version of _Intro to GitHub_ has a couple of 🐛 that are easy to fix:

- Clicking on _Hacer Merge de tu Pull Request_ from the side nav [yields a 404](https://services.github.com/on-demand/intro-to-github/es/merge-pull-requests).
  <img width="509" alt="screen shot 2017-09-15 at 11 17 25 am" src="https://user-images.githubusercontent.com/16547949/30490271-79842660-9a07-11e7-928b-e3368bc

[2017-09-18 08:48] mberasategi commented on #591
Hi @hectorsector and @dpmex4527 ,

I agree with some corrections, not with some others. How should I proceed? I may do the changes and create a new pull request? Discuss them here individually...?

[2017-09-18 12:45] crichID opened #594 "Feedback: Open Show Me How in new Tab"
👋 This user reached out on Twitter requesting that we add an easy way to open these GIFs in a new tab. The specific example they included definitely makes sense to me since embedded, I can't actually read what's happening in the GIF:

https://services.github.com/on-demand/windows/vs-make-commit

Tweets:

https://twitter.com/sfeldman/status/907099165771014146
https://twitter.com/sfeldman/status/907

[2017-09-18 17:22] beardofedu commented on #594
@crichID I think this problem can be solved in one of two ways:

1. I don't record gifs at 3840 x NotSmallResolution resulting in a larger screen to actually see what is happening.
2. Adding a "full size button" as you suggested that just opens the gif in a new tab. For example the vs-make-commit gif looks like this when opened in a new tab: https://services.github.com/on-demand/images/gifs/window

[2017-09-18 17:25] beardofedu commented on #591
@mberasategi If you have any concerns about some of the changes suggested, I think you can discuss them here or within the pull request that you have open in your fork. 👍

[2017-09-18 17:59] JasonEtco commented on #594
Could also wrap the GIF in an <kbd>\<a\></kbd> tag:

[code]

If Jekyll causes problems with that approach, you can use JS to add in that functionality later:

[code]

I would also suggest some kind of visual hint for discoverability; a commonly used icon for something that will open in a new tab/window is the [`link-external` octicon](https://octicons.github.com/icon/link-external/) that could be

[2017-09-18 21:47] crichID commented on #594
@beardofedu FYI, this was the recommendation from the user on Twitter --- it was passed along to us as an idea but we should certainly consider all options :wink:

[2017-09-19 02:31] beardofedu commented on #594
@crichID Oh, I think a full size button or the octicon that @JasonEtco suggested are defintely a potential solution to the problem, I was really just focusing on the bad gif that I created for the course using such a large resolution. Apologies for not being more clear about that, was trying to quickly add some 💭 s on the matter before jumping on a plane and didn't provide enough context. 🙇

[2017-09-21 16:19] hectorsector commented on #592
This was fixed by @mateusortiz in #596.

[2017-09-21 16:19] #592 closed

[2017-09-27 18:39] #576 closed

[2017-10-05 17:37] crichID opened #604 "Some text"
- [x] step 1
- [ ] step 2
- [ ] step 3

[2017-10-05 17:38] beardofedu commented on #604
👋

[2017-10-05 17:38] #604 closed

[2017-10-06 20:14] #591 closed

[2017-10-06 20:24] hectorsector commented on #583
👋 @mberasategi I think you've already translated the Learning Path in #586. I believe all that remains is translating the title. What do you think?

[2017-10-11 15:48] mberasategi commented on #583
Hi @hectorsector sorry for the delay. I think you mean the "On Demand Training" title, right?

I would go for something like "Formación a demanda"/ "Formación a medida" (more literal) or "Aprende a tu ritmo"/"Aprende a tu propio ritmo" or "Formación a tu (propio) ritmo" (literally "Learn/Training at your own pace").

[2017-10-12 23:42] crichID opened #605 "Metro Museuem"

[2017-10-12 23:42] #605 closed

[2017-10-23 19:54] #583 closed

[2017-10-24 02:45] milesibastos opened #609 "Translate to pt-BR"
Looking for provide access to Brazilians to this great content and after talking with some of you in the GitHub Universe. I'll start translating this to pt-BT.

PR coming soon!

PS: If you are Brazilian and believe that we will build it better together. Join us!

[2017-10-30 12:52] abdulajet opened #611 "Invalid invites for training repo"
## Overview
**TL;DR**
The intro to GitHub training [repo](https://github.com/githubschool/open-enrollment-classes-introduction-to-github/issues/) was sending invalid invites.

### Extra Detail
I was running a session to walk beginners through the introduction to GitHub training. When they created new issues to get added as a collaborator they received an invite from teacher bot but all of the invi

[2017-11-01 17:57] #594 closed

[2017-11-08 07:15] ebenezergraham commented on #577
This is issue still open? Please @ mention me when you are ready to begin.

[2017-11-08 07:27] ebenezergraham commented on #470
Hey @hectorsector I would like to help.

NB: This is my first contribution to an open source project and I would really appreciate it if we can collaborate to resolve the jiggle

[2017-11-09 03:40] hectorsector commented on #470
👋 that's fantastic @ebenezergraham!

I haven't tested in quite some time, and probably won't be able to until I get back to my retina display on Monday. If you have a high-res display I would start by seeing if you can replicate it. If you can, then I'm happy to collaborate.

Also pinging @beardofedu who was the first one to notice this and may be able to test this before me.

[2017-11-14 18:44] zalew16 opened #617 "<?xml version="1.0" encoding="UTF-8"?> -<Error> <Code>AccessDenied</Code> <Message>Request has expired</Message> <X-Amz-Expires>30</X-Amz-Expires> <Expires>2017-11-14T18:33:59Z</Expires> <ServerTime>2017-11-14T18:34:14Z</ServerTime> <RequestId>D2A2E6E4EA0E94B7</RequestId> <HostId>sG2e/ztxaWCiD62ZCNLTbMI6O+RUT/po0DfpTo59y0K1HksFTHrvB/xbh451ogbyFCnw7whvva0=</HostId> </Error>"
## Overview
**TL;DR**
<One to two sentence description of the issue you are encountering or trying to solve.>

### Extra Detail

#### Screenshots
<If bug fix, please upload images of the error to better showcase the problem.>

#### Reasoning
<If new idea or direction, please create a checklist of proposed ideas or next steps. [Example](https://github.com/github/training-kit/issues/415).>

### How

[2017-11-14 18:46] #617 closed

[2017-11-27 13:47] KatyaNiakhai opened #619 "Katya workflow"
Katya will choose an image, add a caption, and add both to a file.
- [ ] Create a branch
- [ ] Edit the file
- [ ] Commit the changes
- [ ] Create a Pull Request
- [ ] Request a Review
- [ ] Make more changes
- [ ] Get an approval
- [ ] Merge the Pull Request

[2017-11-27 13:55] #619 closed

[2017-11-29 04:56] beardofedu commented on #470
Sorry for the late response @hectorsector / @ebenezergraham I can test the solution to the jiggle whenever.

[2017-12-09 10:54] #565 closed

[2017-12-09 11:08] zalew16 commented on #565
#403

[2017-12-11 00:38] tapan0072017 opened #621 "Add Me! Let's contribute!"
## Overview
**TL;DR**
<One to two sentence description of the issue you are encountering or trying to solve.>

### Extra Detail

#### Screenshots
<If bug fix, please upload images of the error to better showcase the problem.>

#### Reasoning
<If new idea or direction, please create a checklist of proposed ideas or next steps. [Example](https://github.com/github/training-kit/issues/415).>

### How

[2017-12-11 07:12] brianamarie commented on #621
Hi @tapan0072017! Since this is just the issue template, I'm going to close this issue. What is it you are trying to do? Maybe I can point you in the right direction. 😊

[2017-12-11 07:12] #621 closed

[2017-12-11 20:46] keangkai opened #622 "Can I add other language apart from English and Español ?"
I want to add other language.
Is OK ?

[2017-12-11 20:56] hectorsector commented on #622
Of course, @keangkai! The process isn't very well documented but I'm happy to work with you on _how_ to do it if you start translating.

[2017-12-11 22:47] beardofedu commented on #622
@keangkai just to get some visibility on this translation, what language were you hoping to translate the content to?

[2017-12-11 23:47] milesibastos commented on #622
That is a good sample how to getting started.
https://github.com/github/training-kit/pull/610/files

[2017-12-12 06:44] peterparkers commented on #622
that's great
but what language were you want to do.

[2017-12-12 09:26] keangkai commented on #622
Thank you everybody.I want to add Thai language

[2017-12-12 13:16] phurinaix opened #626 "How to validate translation ?"
Hello everyone
If I add other language for this project.
how to validate that I translate is it correctly?

[2017-12-12 15:58] keangkai opened #627 "It's error in console"
Uncaught TypeError: Cannot read property 'firstChild'

[2017-12-12 16:51] beardofedu commented on #627
@keangkai what is prompting the error? Can you provide a screenshot of the error?

[2017-12-12 21:17] zalew16 commented on #626
Pl

[2017-12-13 06:32] keangkai commented on #626
Can check in google translate

[2017-12-13 15:05] pingping-n commented on #622
@keangkai Just make it. I will work together with you guy.

[2017-12-14 08:35] NuttasitBoonwat commented on #626
I think you can prove by native speakers

[2017-12-14 09:49] Baimaikp commented on #627
i want review too

[2017-12-14 10:08] keangkai commented on #627
![screen shot 2560-12-14 at 5 07 59 pm](https://user-images.githubusercontent.com/26068886/33986837-65d66516-e0f1-11e7-99a6-e303448f5d61.png)

[2017-12-28 09:59] brianamarie opened #629 "More `git diff` and `git log` in on-demand"
## Overview
**TL;DR**
We should add more `git log` and `git diff` to our courses.

### Extra Detail

@bas brought up a great point while we were chatting in Amsterdam, that the courses now tell users to type `git log` but the users aren't given much explanation on what they should look for. It would be helpful to have more `git log` and `git diff` within the courses, along with explanations of wha

[2018-01-03 13:30] mabhijith04 opened #630 "Add Abhijith to the map"
## Overview
**TL;DR**
<One to two sentence description of the issue you are encountering or trying to solve.>

### Extra Detail

#### Screenshots
<If bug fix, please upload images of the error to better showcase the problem.>

#### Reasoning
<If new idea or direction, please create a checklist of proposed ideas or next steps. [Example](https://github.com/github/training-kit/issues/415).>

### How

[2018-01-03 13:32] #630 closed

[2018-01-05 14:05] denmch commented on #627
This is related to the Google Maps API, and it looks like it can't find the element it wants to work on. The file at `on-demand/assets/js/mapsAPI.js` is looking for `#map`, which doesn't exist on this page. I think the map is only used on the subpage at `/on-demand/intro-to-github/`.

[2018-02-23 13:18] Sana-Z-Ahmed opened #635 "Add Me"
## Overview
**TL;DR**
<One to two sentence description of the issue you are encountering or trying to solve.>

### Extra Detail

#### Screenshots
<If bug fix, please upload images of the error to better showcase the problem.>

#### Reasoning
<If new idea or direction, please create a checklist of proposed ideas or next steps. [Example](https://github.com/github/training-kit/issues/415).>

### How

[2018-02-23 17:43] hollenberry commented on #635
Hey there!

I think you might be looking for the robot who lives here: https://github.com/githubschool/open-enrollment-classes-introduction-to-github

👍 Closing this out and good luck!

[2018-02-23 17:43] #635 closed

[2018-03-06 19:13] hollenberry commented on #611
@abdulajet thank you so much for flagging this to our attention last year. Thanks to your ping, we were able to take action internally and change up a few items so that invitations were, again, valid.

Closing this out as a success!

[2018-03-06 19:13] #611 closed

[2018-03-06 19:14] abdulajet commented on #611
Dope! Great job team 😄

[2018-03-12 17:57] #626 closed

[2018-03-14 04:55] thorntonh opened #636 "add me"
## Overview
**TL;DR**
<One to two sentence description of the issue you are encountering or trying to solve.>

### Extra Detail

#### Screenshots
<If bug fix, please upload images of the error to better showcase the problem.>

#### Reasoning
<If new idea or direction, please create a checklist of proposed ideas or next steps. [Example](https://github.com/github/training-kit/issues/415).>

### How

[2018-03-14 05:02] brianamarie commented on #636
Hi @thorntonh! I think you might be looking for this repository: https://github.com/githubschool/open-enrollment-classes-introduction-to-github

I'm going to close this issue, but let me know if I can help with anything.

[2018-03-14 05:02] #636 closed

[2018-03-15 19:51] perryken commented on #622
hmmmmmmmm

[2018-03-16 06:02] brianamarie commented on #622
If anyone is still interested and needs some help getting started, please ask for help and @github/services-training will do our best to support you.

[2018-04-23 17:01] sb-01 opened #637 "New Issue"
## Overview
**TL;DR**
<One to two sentence description of the issue you are encountering or trying to solve.>

### Extra Detail

#### Screenshots
<If bug fix, please upload images of the error to better showcase the problem.>

#### Reasoning
<If new idea or direction, please create a checklist of proposed ideas or next steps. [Example](https://github.com/github/training-kit/issues/415).>

### How

[2018-04-23 17:02] brianamarie commented on #637
Hi @sb-01! I'm going to close this issue because it doesn't have any other information than the template, but please reopen if you'd like to share more specific info with us.

[2018-04-23 17:02] #637 closed

[2018-06-11 13:15] brntbeer opened #640 "Cheatsheets now only one column instead of two"
## Overview
**TL;DR**
I noticed https://services.github.com/on-demand/downloads/subversion-migration/ is now only a single column, it used to be two? This is the same for the Git Cheatsheets as well (see the PDFs for the 2 column versions)

#### Screenshots
Current
![screen shot 2018-06-11 at 3 04 37 pm](https://user-images.githubusercontent.com/45141/41233218-0806fac0-6d89-11e8-9bc2-c06a30294ce0.

[2018-06-11 13:20] JasonEtco commented on #640
Thanks for the report @brntbeer - not sure how or when this happened, but I'm on the case 👍

[2018-06-11 13:46] #640 closed

[2018-06-19 13:22] pavankumargep commented on #379
h

[2018-07-08 13:51] roncrivera opened #644 "Please add me to the class repository"
## Overview

I am trying out the on demand training and am submitting this issue to be added as contributor.

Many thanks in advance.

[2018-07-08 14:00] #644 closed

[2018-08-22 13:42] brianamarie commented on #627
This was resolved by #631. Many thanks to @denmch for fixing it, and finding me on Twitter to make sure this issue is properly closed. Apologies for missing it and keeping it open.

[2018-08-22 13:42] #627 closed

[2018-08-24 08:48] ppremk commented on #622
#624

[2018-08-30 14:06] brianamarie opened #646 "Retire active on-demand repositories"
## Overview
https://lab.github.com/ has replaced on-demand as GitHub Training's recommendation for self paced learning. While the resources can still stay available, we would like to archive the interactive repositories and the directions pointing to them. We would only need to focus our action on those courses which have corresponding repositories.

This comes from @hectorsector's request in Slac

[2018-08-30 15:53] a-a-ron commented on #646
I agree with the outlined steps. In my opinion, fully retiring on-demand and directing all traffic to LL is the best path forward so i'm on board with that.

Yes. I think content is still valuable, especially the graphql content that we currently don't have a replacement for on LL. Allowing read-only versions to be forked for individual purposes is still valuable. We just need to clearly express t

[2018-08-31 09:46] ppremk commented on #646
I too agree on this

💯 agreed as well on this

[2018-08-31 14:04] izahn opened #647 "Add link to https://services.github.com/on-demand to cheatsheet"
## Overview
**TL;DR**
There is a link at the bottom of `github-cheat-sheet.pdf` to training.github.com, but no link to https://services.github.com/on-demand. It would be good to have a link at the bottom of the cheatsheet so people know where to go for more resources.

### Extra Detail
I couldn't figure out where the footer comes from (it does not appear in `github-cheat-sheet.md`), hence this iss

[2018-09-10 07:54] brianamarie commented on #647
Thank you for opening this issue, @izahn. You're 💯 correct! Since the PDF is managed and printed internally at GitHub, and then the source file is updated in this repository, I'm going to move this conversation to a different repository within GitHub (that will be private). Hopefully we will be able to push an update soon. Thank you again! ✨

[2018-09-10 07:54] #647 closed

[2018-09-10 08:01] brianamarie commented on #646
@ppremk @a-a-ron, awesome, thank you! 👍

@crichID @hollenberry @hectorsector @beardofedu Does this plan seem OK? Mostly, are there any objections before we can move forward?

@a-a-ron Once we either (A) get some more 👍, or (B) a few more days pass to give the chance for more critical feedback and other ways to move forward, I think it would be 💯 if you moved forward with this. Thank you! ✨

[2018-09-10 21:07] hectorsector commented on #646
Looks good, @brianamarie @a-a-ron

[2018-09-12 10:37] mberasategi commented on #646
Hi! Sorry to jump in from a probably foreign field (and language), but let me express my concerns in the hopes that there is a way out I just don't know about/haven't thought of.

I'm a teacher in higher education using the on-demand courses as a way to introduce my students to GitHub. Having that material in their mother tongue (Spanish) is a requirement and so I translated 101 and 102 last year.

[2018-09-13 08:26] mberasategi commented on #646
Sorry to push on this, but @brianamarie or @hectorsector , I need to sort this out ASAP because the classes have started already. Any chance to contribute translations to Lab courses? I would be more than happy to do that (as I did with the on-demand courses) but would need to begin right away. Thanks again!

[2018-09-13 12:19] brianamarie commented on #646
This is great information to have - @github/services-training, let's commit to not breaking anything that currently exists until we have a Spanish replacement that would be functional (or possibly an improvement) for @mberasategi.

@mberasategi, does this sound OK? I think we would love to have multiple language support on Learning Lab, but as you're depending on this resource in on-demand, we def

[2018-09-13 12:57] mberasategi commented on #646
@brianamarie that would do it for me 👌

I will keep using on-demand this Fall then (maybe keep on translating, I wanted to use the CLI this time &mdash; any chance to get this pushed?), and let me know when translations for Learning Lab are an option. Count on me for Spanish!

[2018-09-17 06:59] brianamarie commented on #646
I'm going to close this issue for now. @github/services-training, let's revisit this, and also remember the importance of translations in our resources.

[2018-09-17 06:59] #646 closed

[2018-10-02 20:56] ppremk commented on #622
@keangkai thank you for the initiative, is there any progress for this issue? 🙂

[2018-10-12 16:58] brianamarie opened #649 "Vulnerability alert"
<img width="893" alt="screen shot 2018-10-12 at 18 55 58" src="https://user-images.githubusercontent.com/9906718/46882979-c275b680-ce50-11e8-9f47-2081daf20b98.png">

[2018-10-12 16:58] #649 closed

[2018-10-31 18:30] hollenberry commented on #629
Closing this out since our on demand courses are now deprecated.

[2018-10-31 18:30] #629 closed

[2018-10-31 18:31] hollenberry commented on #622
Closing this out since our on demand courses are now deprecated.

Thank you for sharing this idea and starting this work!

[2018-10-31 18:31] #622 closed

[2018-10-31 18:31] hollenberry commented on #609
Closing this out since our on demand courses are now deprecated.

Thank you for sharing this idea and starting this work!

[2018-10-31 18:31] #609 closed

[2018-10-31 18:31] hollenberry commented on #577
Closing this out since our on demand courses are now deprecated.

Thank you for sharing this idea and starting this work!

[2018-10-31 18:31] #577 closed

[2018-10-31 18:32] hollenberry commented on #470
Closing this out since our on demand courses are now deprecated.

Thank you for sharing this idea and starting this work!

[2018-10-31 18:32] #470 closed

[2019-01-18 01:31] leminhtien5181 opened #661 "leminhtien1979@gmail.com"
## Overview
**TL;DR**
<One to two sentence description of the issue you are encountering or trying to solve.>

### Extra Detail

#### Screenshots
<If bug fix, please upload images of the error to better showcase the problem.>

#### Reasoning
<If new idea or direction, please create a checklist of proposed ideas or next steps. [Example](https://github.com/github/training-kit/issues/415).>

### How

[2019-01-21 07:31] brianamarie commented on #661
Hi @leminhtien5181! I'm not quite sure what this issue is meant to be for, so I'm going to close it.

[2019-01-21 07:31] #661 closed

[2019-01-25 15:40] harry-hov commented on #448
hey, what's the status of this issue @crichID  ??
I would like to work on this.

[2019-01-28 07:53] brianamarie commented on #448
Hello @harry-hov 👋 I think that this issue should probably be closed. It's my understanding that the downloads page now redirects to cheatsheets, so this is no longer an issue. Sorry for the confusion, and thank you for your willingness to help!

[2019-01-28 07:53] #448 closed

[2019-02-21 08:16] Chhunneng commented on #554
How to change the issue? If I found the issue

[2019-02-21 10:57] brntbeer commented on #554
@Chhunneng / @ewe2 I can't actually seem to reproduce this. it may not be relevant anymore.

@Chhunneng can you include a copy of the output that shows this failing?

[2019-02-25 07:14] tdx1997tdx opened #663 "hellow"
## Overview
**TL;DR**
<One to two sentence description of the issue you are encountering or trying to solve.>

### Extra Detail

#### Screenshots
<If bug fix, please upload images of the error to better showcase the problem.>

#### Reasoning
<If new idea or direction, please create a checklist of proposed ideas or next steps. [Example](https://github.com/github/training-kit/issues/415).>

### How

[2019-02-25 07:15] #663 closed

[2019-02-25 07:16] tdx1997tdx opened #664 "hello"
hollo man

[2019-02-25 07:16] #664 closed, assigned to nobody

[2019-03-08 11:45] #547 closed

[2019-03-30 23:40] bazzaar commented on #554
I get this same error when I run
`script/package`
from the repo root.
`sed: can't read : No such file or directory`

The sed command in the script is :
`sed -i '' -e"s/google_tracking_id:.*/google_tracking_id:/" _config.yml`

The error indicates the sed command is not finding the file `_config.yml` in the repo root.

This is because of a spurious space character prior to the pair of single quotes

[2019-04-08 06:50] brianamarie commented on #554
I'm going to close this issue, as I believe that @bazzaar corrected this with @brntbeer in https://github.com/github/training-kit/pull/672. Please reopen if I'm mistaken. Thank you all!

[2019-04-08 06:50] #554 closed

[2019-04-19 15:49] paluchnuggets opened #675 "Invalid link in CONTRIBUTING.md"
## Overview
![Screenshot 2019-04-19 at 17 34 01](https://user-images.githubusercontent.com/41453558/56431505-30041300-62ca-11e9-9dcb-9b74c2c687cc.png)

In the picture above I have cricled link that does not work. Due to that I am not sure how to follow that guide exactly. I am eager to prepare translation to polish language 😄

![Screenshot 2019-04-19 at 17 44 40](https://user-images.githubusercont

[2019-05-13 19:22] shivaylamba opened #680 "Addition of Meta Description tag for SEO"
## Overview
**TL;DR**
Addition of Meta Description tag for better SEO.

#### Reasoning
Makes SEO implementation better

PR #679

[2019-05-14 07:21] brianamarie commented on #680
This is a fabulous addition, thank you for opening the issue and addressing it in #679. I'm going to close this issue now. ✨

[2019-05-14 07:21] #680 closed

[2019-05-25 19:03] globefire commented on #675
I would like to make the above change.

[2019-05-25 23:14] Amintorialay commented on #675
😛😛😛😛😛😟

torialay amin

On Sat, May 25, 2019, 11:34 PM Nitin Sahu <notifications@github.com wrote:

[2019-05-27 11:43] brntbeer commented on #675
hey @paluchnuggets sorry for the delay. I can see in #678 that the polish translation was already added, effectively closing out this issue.

@globefire if you would like to create a new Pull Request to update https://github.com/github/training-kit/blob/master/CONTRIBUTING.md by making it link to https://github.com/github/training-kit/blob/master/index.html, that would be an awesome contribution t

[2019-07-11 20:15] moorlag opened #685 "Dutch version?"
## Overview
**TL;DR**
Is there interest in a Dutch version of this document?

[2019-07-15 08:35] brianamarie commented on #685
Hi @moorlag! It doesn't appear so - would you be interested in creating one?

[2019-07-15 12:38] moorlag commented on #685
Yes, think it will help students here to learn the essentials of GitHub more effectively.

[2019-07-16 07:21] brianamarie commented on #685
@moorlag That's great! If you're comfortable, please go ahead and create a fork of this repository, add the document and the translation, and open a pull request. Let me know if you'd like help figuring out how to work through any of those steps. 😊

[2019-07-16 09:46] moorlag commented on #685
I've started it already. Just need to find someone to proof read it. Any Dutch users you know?

[2019-07-16 11:39] brianamarie commented on #685
Yes, in fact! 😄 Once you open up a pull request, I'll `@mention` them there so they can leave a review.

[2019-07-17 18:16] chumzee commented on #685
its okay... your get the benefits right 😉😉😉

[2019-08-26 07:58] #675 closed

[2019-09-03 14:55] helaili opened #691 "Draft structure of the GitHub Action Cheat Sheet"
Topics:

- About
- Syntax overview
- Events
- Pattern matching
- Jobs
- Steps
- Strategies
- Run
- Secrets
- Context variables

![github-action-cheat-sheet](https://user-images.githubusercontent.com/2787414/64184472-c9902380-ce6b-11e9-969f-3429842521a2.png)

[2019-09-04 06:22] brianamarie commented on #691
This is great! @johndavidmarx @hectorsector and @mattdavis0351 are working on materials for more Actions Learning Lab courses, as well as Actions curriculum for in-person training, and the DevOps certification. cc @johndavidmarx @hectorsector @mattdavis0351 for 👀eyes on this Action cheat sheet in progress by @helaili 🎉

[2019-10-09 23:31] kerolloz opened #702 "PDF"
how can I make a PDF version for a language :thinking:

[2019-10-15 09:50] brianamarie commented on #702
Hi @kerolloz! Typically, we have made the cheat sheets into PDFs with Adobe Illustrator, and have the template internally. For cheat sheets without a pre-made PDF, we've seen users print the formatted markdown. I don't know if we've ever had a user create a PDF with the current formatting.

Which language are you wanting to create a PDF for? @hectorsector, do you know if we'd be able to share the

[2019-10-16 11:19] kerolloz commented on #702
Hi @brianamarie
I want to create a PDF for Arabic.
I know that I can use the markdown version for printing. I see that the PDF version looks much better, from the design point of view.

[2019-10-17 18:35] hectorsector commented on #702
It'd be great if we could create the PDFs programmatically, but for now we can only do so manually.

@kerolloz if you have Illustrator installed and would like to try creating the Arabic PDF, would you shoot me an email? The address is my username at GitHub.com. I can send you the file directly. Long term, it'd be great if we document that process in this repo, and it would be even better to gener

[2019-11-22 00:36] bdougie commented on #691
Hello, I only learned of https://github.com/github/training-kit/pull/692 through this comment yesterday https://github.com/github/developer-relations/issues/255#issuecomment-556127637 -- so please do not take my comments as blocking anything but some observations for the existing content (which is understood to be incomplete).

I am leaving my comment here to avoid de-railing the active review pro

[2019-11-22 10:27] helaili commented on #691
Thank you for this great comment @bdougie 🙇

I agree there is a lot to be changed in the current version as I have been more focused on the creation process than the content itself. This is why I'm transferring this work to [github/actions-cheat-sheet](https://github.com/github/actions-cheat-sheet) where the PDF is automatically generated with GitHub Actions 😄 based on an AsciiDoc file. This will

[2019-11-22 10:27] #691 closed

[2019-11-25 08:27] brianamarie commented on #691
Hi @helaili! I'd love to take a look at the actions cheat sheet, but I'm not able to access it. If it's private, would you mind giving me access? Also, are you considering having the cheat sheet be open source?

[2019-11-25 08:36] helaili commented on #691
Fantastic @brianamarie! The repo was meant to be public, it's now fixed.
I'm still working on the content and the README needs some work too.

[2020-01-26 11:07] bluecosmos20 opened #725 "ads"
## Overview
**TL;DR**
<One to two sentence description of the issue you are encountering or trying to solve.>

### Extra Detail

#### Screenshots
<If bug fix, please upload images of the error to better showcase the problem.>

#### Reasoning
<If new idea or direction, please create a checklist of proposed ideas or next steps. [Example](https://github.com/github/training-kit/issues/415).>

### How

[2020-01-27 09:12] #725 closed

[2020-01-28 08:26] brianamarie opened #728 "Bring back `script/package`"
## Overview
**TL;DR**

The `script/package` file was deleted in a repository clean-up effort, but should still be around. We should also better document its use case to prevent accidental deletion in the future.

### Extra Detail

This happened in 38cc78f9718e195d187e176058b2b5d39387b288. But, we can't simply revert that commit, because we would like to keep the other changes introduced.

### How

[2020-01-28 08:34] brianamarie opened #729 "CI is failing on master, but building fine"
## Overview
**TL;DR**

CI is failing on master, but the page is still building and deploying fine. I don't know what's causing the build failure.

cc @a-a-ron for comms duty, but I'll also try and find time to poke around with this and see if I can fix it.

### Extra Detail

#### Screenshots
[You can see the error message here](https://github.com/github/training-kit/commit/cec2b5947f54b230b1c4cd2f

[2020-01-28 12:36] NishkarshRaj commented on #729
@brianamarie I am an expert on CI except Jenkins and basic Actions but I will give this a shot.
Also, on the attached screenshot error message in Node module shows that
[code]
Is 'semver' a thing or the script has spelled server wrong somewhere?

[2020-01-28 13:10] NishkarshRaj commented on #729
I cannot get something I can work with but I have something substantial that the maintainers must look at. CC @brianamarie @a-a-ron
So, while I was trying to find the root cause of the error in CI in **Actions** tab, I saw that CI fails after  #726 was merged but since it only updated a Markdown file, it must not affect the Continuous Integration part.

So, I looked at the #724 merge request which

[2020-01-28 13:19] brianamarie commented on #729
@NishkarshRaj Thank you for taking the time to look into this 🙏

I'm no expert in this, but everything that you're saying is making total sense. Next steps to me would be to try and recreate the same bug locally, then open a PR that adds a step for adding and committing the `package-lock.json` file in the build script, and opening a PR here.

What do you think? I'm happy to do that, but would also

[2020-01-28 15:34] NishkarshRaj commented on #729
I will definitely try to solve this issue in my fork and raise a PR if I can @brianamarie 🙏
But since I am also not experienced to handle such complex problem where Actions is using pre-built scripts and Docker, I think it would be better that some one more experienced handles this.

[2020-02-03 13:37] brianamarie commented on #379
It seems this effort has gone stale. I'm going to close this issue, but if anyone would like to contribute these changes to make this possible, please re-open this issue or open a pull request.

[2020-02-03 13:37] #379 closed

[2020-02-04 12:44] #729 closed

[2020-02-04 12:44] #728 closed

[2020-02-04 14:14] NishkarshRaj commented on #729
@brianamarie Great work, I was unable to locate the package-lock file because of my inexperience in Docker and yml files but it feels good that I detected the issue correctly 😄

[2020-03-02 01:56] geunkim opened #737 "Is there a Korean version?"
Is there a Korean version? If not, I would like to do that.
What should I do at first?

[2020-03-02 03:15] geunkim commented on #737
I found it.

[2020-03-02 03:15] #737 closed

[2020-03-04 15:05] geunkim opened #738 "Support python 3.x to start Simple HTTP Server"
## Overview
**TL;DR**
<One to two sentence description of the issue you are encountering or trying to solve.>

In the README.md, the procedure to create git and github cheat sheet. is well described.
There is a command to launch the simple HTTP server on python 2.x that does not
work on python 3.x.

### Extra Detail

#### Screenshots
<If bug fix, please upload images of the error to better showcas

[2020-03-06 16:09] LittleCindy7 commented on #738
#739

[2020-03-09 12:20] brianamarie commented on #738
Closed by https://github.com/github/training-kit/pull/740 🎉

[2020-03-09 12:20] #738 closed

[2020-03-13 17:24] LuizAbreu82 commented on #702
#702

[2020-05-08 05:56] Mia-ux opened #745 "Mia"
## Overview
**TL;DR**
<One to two sentence description of the issue you are encountering or trying to solve.>

### Extra Detail

#### Screenshots
<If bug fix, please upload images of the error to better showcase the problem.>

#### Reasoning
<If new idea or direction, please create a checklist of proposed ideas or next steps. [Example](https://github.com/github/training-kit/issues/415).>

### How

[2020-05-08 06:00] #745 closed

[2020-05-24 18:15] cseas opened #746 "Mistake in command mentioned for git commit"
## Overview
**TL;DR**
Whitespace should be present between the `-m` flag and the commit message in the `git commit` command mentioned in [git cheat sheet](https://github.github.com/training-kit/downloads/github-git-cheat-sheet/).

[2020-05-25 07:59] #746 closed

[2020-06-02 04:09] baxbany139 opened #749 "fff"
## Overview
**TL;DR**
<One to two sentence description of the issue you are encountering or trying to solve.>

### Extra Detail

#### Screenshots
<If bug fix, please upload images of the error to better showcase the problem.>

#### Reasoning
<If new idea or direction, please create a checklist of proposed ideas or next steps. [Example](https://github.com/github/training-kit/issues/415).>

### How

[2020-06-02 16:06] GearHead001 commented on #749
Ok

[2020-06-02 16:07] GearHead001 opened #750 "Okay"
## Overview
**TL;DR**
<One to two sentence description of the issue you are encountering or trying to solve.>

### Extra Detail

#### Screenshots
<If bug fix, please upload images of the error to better showcase the problem.>

#### Reasoning
<If new idea or direction, please create a checklist of proposed ideas or next steps. [Example](https://github.com/github/training-kit/issues/415).>

### How

[2020-06-02 16:08] GearHead001 commented on #750
Okay

[2020-06-03 07:54] #749 closed

[2020-06-03 07:55] #750 closed

[2020-06-10 09:21] brianamarie opened #753 "Check that `git init` is clearly defined and formatted"
## Overview
**TL;DR**
As brought up in https://github.com/github/training-kit/pull/752, `git init` should be clearly defined and formatted to not be confused with other commands, especially those involving remotes.

### Extra Detail

#### Screenshots
![图片](https://user-images.githubusercontent.com/24759802/84172848-0cdc8a00-aaaf-11ea-9b48-9656aaf36eee.png)

### How to Contribute
- [ ] Comment on t

[2020-07-23 01:58] kevinfszu opened #759 "Is there something wrong with description of "git log --follow [file]"?"
## Overview
There is something wrong with description of "git  log --follow [file]".

### Extra Detail

#### Reasoning
the `--follow` option in [documentation of Git](https://git-scm.com/docs/git-log) :
![image](https://user-images.githubusercontent.com/5536550/88245412-ab245800-ccc9-11ea-94fe-c620635f81bf.png)

But the meaning of the `--follow` in this repository is inverse:
![image](https://user

[2020-07-23 03:02] mihilt commented on #749
.

[2020-07-24 12:05] brianamarie commented on #759
Thank you for opening this issue, @kevinfszu. This has been corrected in the plain text version, but we do need to make updates to the PDF. cc @github/ps-programs, I'm going to put this on the triage board.

[2020-07-27 21:03] todcheryl opened #761 "Start"

[2020-07-29 17:47] #761 closed

[2020-07-31 00:00] misfir3 opened #762 "Update gem with Known Critical Vulnerability"
## Overview
**TL;DR**
Update known critical vulnerability (`kramdown`)

**Known Vulnerable Component**
There is a known vulnerability for the ruby gem `kramdown` See [this for more info](https://nvd.nist.gov/vuln/detail/CVE-2020-14001), also reported at https://github.com/github/pages/issues/2824.  Given it's critical nature and that it has not been picked up automatically yet by Dependabot, we ar

[2020-07-31 00:01] sentinel commented on #762
@misfir3 please take the following action(s):
- [ ] Assign a severity `.vuln severity <issue-link> <severity informational|low|medium|high|critical>`
- [ ] Set the service catalog entry or reply with `unknown` to prompt the team to setup a service. Suggested  `.vuln catalog <issue-link> <service-name>`
- [ ] Assign a team `.vuln assign-team <issue-link> <assignee-team @github/...>`

---

*Vulnerab

[2020-07-31 00:09] #762 closed

[2020-09-13 13:07] muladong opened #768 "Htmloo"
## Overview
**TL;DR**
<One to two sentence description of the issue you are encountering or trying to solve.>

### Extra Detail

#### Screenshots
<If bug fix, please upload images of the error to better showcase the problem.>

#### Reasoning
<If new idea or direction, please create a checklist of proposed ideas or next steps. [Example](https://github.com/github/training-kit/issues/415).>

### How

[2020-09-14 09:28] #768 closed

[2020-09-28 03:34] rezaaa1359 opened #775 "Reza1359"
Reza1359

[2020-09-28 03:34] #775 closed

[2020-10-13 22:32] anneloreegger commented on #753
I'd like to work on this issue. Is it still available?

[2020-10-14 11:05] brianamarie commented on #753
Hi @anneloreegger! Yes, this is still available! 😊  I look forward to seeing your pull request. Please let me know if you have any questions!

[2020-10-15 10:59] #753 closed

[2020-11-01 17:36] 3laoy25 opened #795 "3laoy25"

[2020-11-02 03:58] 3laoy25 opened #796 "F"
@ # #``

[2020-11-02 06:06] 3laoy25 opened #797 "Thank you for this great comment @bdougie 🙇"
Thank you for this great comment @bdougie 🙇

I agree there is a lot to be changed in the current version as I have been more focused on the creation process than the content itself. This is why I'm transferring this work to [github/actions-cheat-sheet](https://github.com/github/actions-cheat-sheet) where the PDF is automatically generated with GitHub Actions 😄 based on an AsciiDoc file. This will

[2020-11-02 06:07] #797 closed

[2020-11-02 12:25] #796 closed

[2020-11-11 11:29] maxmammia opened #799 "Typo "brach""
## Overview
**TL;DR**
<On the website, this line exists: "create a brach, you can be sure that you will be working with the most recent information".>

[2020-11-19 03:30] rezaaa1359 commented on #799
Hi

[2020-12-06 18:19] johnnyhall481 commented on #281
[adequacy-japan-factsheet_en_2019_1.pdf](https://github.com/github/training-kit/files/5649302/adequacy-japan-factsheet_en_2019_1.pdf)
@technicalpickles

[2020-12-09 11:27] #759 closed

[2020-12-30 08:42] jennet333 commented on #799
https://github.com/github/training-kit/issues/799#issue-740694163

[2021-01-21 23:32] Dopeboyco opened #808 "Hi"
Hi

_Originally posted by @rezaaa1359 in https://github.com/github/training-kit/issues/799#issuecomment-730106245_

[2021-01-27 05:07] DougDelaney opened #810 "https://training.github.com/ - Cheat Sheet - English (PDF) typo "gitgnore" in header"
## Overview
**TL;DR**
"The .gitgnore file" heading has a typo in the [English (PDF)](https://training.github.com/downloads/github-git-cheat-sheet.pdf) cheatsheet.  It is fine in [English](https://training.github.com/downloads/github-git-cheat-sheet/) html.

### Extra Detail
**The .gitgnore file**
Sometimes it may be a good idea to exclude files from being
tracked with Git. This is typically done i

[2021-01-30 06:58] himanshu007-creator opened #811 "Theme toggle button"
## Overview
**TL;DR**
<One to two sentence description of the issue you are encountering or trying to solve.>
We should include same theme toggler, that we use in github for this website.
### Extra Detail

#### Screenshots
<If bug fix, please upload images of the error to better showcase the problem.>
![2021-01-30 (2)](https://user-images.githubusercontent.com/65963997/106349738-70dde800-62f6-11eb

[2021-02-12 14:49] #795 closed

[2021-02-12 14:49] brianamarie commented on #799
This was fixed in #813  🎉

[2021-02-12 14:49] #799 closed

[2021-02-15 04:12] kkash18 opened #814 "https://www.github.com/github/training-kit/tree/master/package.json"
`<open>`

[2021-02-15 07:54] #814 closed

[2021-02-15 08:23] kkash18 opened #815 "> `<open>`"
_Originally posted by @kkash18 in https://github.com/github/training-kit/issues/814#issuecomment-778924381_

[2021-02-15 08:35] brianamarie commented on #815
Hi @kkash18! I'm going to close this issue. If you'd like to reopen it, please include some context about why you are opening an issue in this repository. Thank you!

[2021-02-15 08:35] #815 closed

[2021-02-15 12:06] kkash18 opened #817 "docs/install_linux.md"
![1f31c.png](https://user-images.githubusercontent.com/77268170/107950754-cf44d080-6f5c-11eb-902b-8060dc2cb1ef.png)

[2021-02-15 13:24] brianamarie commented on #817
Hi @kkash18, I am going to close this issue like I have closed the previous issues that you have opened. We welcome issues, comments, and pull requests in this repository, but please refrain from opening issues or other communications that are not relevant to this repository or its purpose.

[2021-02-15 13:24] #817 closed

[2021-02-21 08:11] rahul12111 opened #820 "parkerbxyz-updates"
## Overview
**TL;DR**
<One to two sentence description of the issue you are encountering or trying to solve.>

### Extra Detail

#### Screenshots
<If bug fix, please upload images of the error to better showcase the problem.>

#### Reasoning
<If new idea or direction, please create a checklist of proposed ideas or next steps. [Example](https://github.com/github/training-kit/issues/415).>

### How

[2021-02-22 08:53] brianamarie commented on #820
Hi @rahul12111! I'm going to close this issue, because it doesn't add anything more than the issue template. If you'd like to open an issue with a request or question, please make sure to include all of the context in the body of the issue.

[2021-02-22 08:53] #820 closed

[2021-02-23 10:36] habibahma opened #822 "New repository"

[2021-02-23 10:37] habibahma commented on #822
Readme

[2021-02-24 12:34] brianamarie commented on #822
Hello 👋🏻 It looks like you may be practicing using GitHub. That's great! But, this repository is in active use, and this may be distracting those who maintain it. I'm going to close this, but if you'd like to suggest a bug fix or feature, please open a new issue with the context and information in the body. Thanks!

[2021-02-24 12:34] #822 closed

[2021-03-02 14:30] habibahma opened #823 "https://www.github.com/popperjs/popper-core/tree/master/tests%2Fvisual%2Frtl-body.html"

[2021-03-02 14:46] brianamarie commented on #823
Hello 👋🏻 It looks like you may be practicing using GitHub. That's great! But, this repository is in active use, and this may be distracting those who maintain it. I'm going to close this, but if you'd like to suggest a bug fix or feature, please open a new issue with the context and information in the body. Thanks!

[2021-03-02 14:46] #823 closed

[2021-03-19 00:24] parkerbxyz opened #826 "Add a new page for manuals"
- [ ] Add site navigation
- [ ] Give Git cheat sheets their own page
- [ ] Give manuals their own page: https://github.com/github/training-kit/pull/764
- [ ] Update repo description
- [ ] Update README to reflect addition of new content

<details><summary>Git Cheat Sheets page details</summary>

**Page title:** Git Cheat Sheets

**Page description:** Reference sheets covering Git commands, feature

[2021-03-19 00:26] parkerbxyz opened #827 "Update PDFs"
- [ ] Update outdated Git cheat sheet PDFs
- [ ] Look into automating PDF generation based on markdown files

[2021-04-13 21:50] totongcute opened #834 "How to Contribute-Testing Locally"
#825

### How to Contribute
- [x] Comment on this issue if you'd like to work/collaborate on it!
- [x] Fork the [repository](https://github.com/github/training-kit).
- [x] Use the [GitHub Flow](https://guides.github.com/introduction/flow/) to make changes to your fork. [This](https://lab.github.com/githubtraining/introduction-to-github) is a refresher course if you're unsure about how to make a ch

[2021-04-14 12:35] brianamarie commented on #834
Hello 👋🏻 It looks like you may be practicing using GitHub. That's great! But, this repository is in active use, and this may be distracting those who maintain it. I'm going to close this, but if you'd like to suggest a bug fix or feature, please open a new issue with the context and information in the body. Thanks!

[2021-04-14 12:35] #834 closed

[2021-04-14 14:10] starlightknown opened #835 "Create a PDF for hindi"
## Overview
**TL;DR**
Can I add a PDF for hindi version? I'd like to know how can I contribute to it if I can. Thank you

### Extra Detail

#### Screenshots
<If bug fix, please upload images of the error to better showcase the problem.>

#### Reasoning
<If new idea or direction, please create a checklist of proposed ideas or next steps. [Example](https://github.com/github/training-kit/issues/415).

[2021-04-16 09:45] totongcute opened #836 "Swap the two entries to preserve alphabetical ordering"
Swap the two entries to preserve alphabetical ordering

__Originally posted by @bshastry in https://github.com/ethereum/solidity/pull/11140#discussion_r599501775__

[2021-04-16 09:45] #836 closed

[2021-04-16 11:07] YaLublu commented on #835
Super

[2021-04-16 16:49] totongcute opened #837 "If you view a transaction that is either just a fake TXID or a new one that hasn't been processed yet instead of saying it's invalid it shows the information for a random TX in the database."
If you view a transaction that is either just a fake TXID or a new one that hasn't been processed yet instead of saying it's invalid it shows the information for a random TX in the database.

![image](https://user-images.githubusercontent.com/7625236/75612407-083c2900-5af1-11ea-8a5a-e72338448282.png)

__Originally posted by @Crypto2 in https://github.com/ethereumclassic/explorer/issues/331__

[2021-04-16 16:51] totongcute opened #838 "Checked a balance on http://etherhub.io one address, where there are more than 8 txs, but can see only 8 txs. I don't want to share the address here, as it is public here ;-). If you want the address just pm me on etc discord (a.s.). Thx."
Checked a balance on http://etherhub.io one address, where there are more than 8 txs, but can see only 8 txs. I don't want to share the address here, as it is public here ;-). If you want the address just pm me on etc discord (a.s.). Thx.

__Originally posted by @TheEnthusiasticAs in https://github.com/ethereumclassic/explorer/issues/319__

[2021-04-17 13:03] YaLublu commented on #835
Go

[2021-04-19 13:04] hectorsector commented on #835
Of course @starlightknown! You can follow the instructions in [`CONTRIBUTING.md`](https://github.com/github/training-kit/blob/master/CONTRIBUTING.md) to translate a cheatsheet.

[2021-04-19 13:08] brianamarie commented on #838
Hello 👋🏻 It looks like you may be practicing using GitHub. That's great! But, this repository is in active use, and this may be distracting those who maintain it. I'm going to close this, but if you'd like to suggest a bug fix or feature, please open a new issue with the context and information in the body. Thanks!

[2021-04-19 13:08] #838 closed

[2021-04-19 13:09] hectorsector commented on #837
Hello :wave: It looks like you may be practicing using GitHub. That’s great! But, this repository is in active use, and this may be distracting those who maintain it. I’m going to close this, but if you’d like to suggest a bug fix or feature, please open a new issue with the context and information in the body. Thanks!

[2021-04-19 13:09] #837 closed

[2021-04-24 15:42] jugaldb opened #839 "Images don't load on github.com site in Brave Browser"
Basically this is a really small issue, where the images just wouldnt load on Brave browers, it is the same on many of friends' machines aswell, it loads fine on other browsers but on Brave browser
![image](https://user-images.githubusercontent.com/55304795/115964358-bdc20b00-a541-11eb-92c8-5d9413f2f6da.png)
![image](https://user-images.githubusercontent.com/55304795/115964361-c1559200-a541-11eb-8

[2021-04-24 15:43] jugaldb commented on #839
Here I have attached two images as well, which wouldnt load too

[2021-04-25 03:35] jugaldb commented on #839
Fixed, maybe a temporary error.

[2021-04-25 03:35] #839 closed

[2021-05-14 05:16] kingworlds377 opened #841 "Hello"

[2021-05-14 17:04] kingworlds377 opened #842 "Hello beautiful people from planet star are you beautiful and good game and nice work"

[2021-05-14 17:04] kingworlds377 commented on #842
Kings of death are here welcome to Allah

[2021-05-14 17:57] kingworlds377 opened #843 "Hello gatty mia ferma and world started I have the internet for the program and more of the world"

[2021-05-14 17:57] kingworlds377 commented on #843
Kings of world and death of the world

[2021-05-16 21:54] brianamarie commented on #841
Hello 👋🏻 It looks like you may be practicing using GitHub. That's great! But, this repository is in active use, and this may be distracting those who maintain it. I'm going to close this, but if you'd like to suggest a bug fix or feature, please open a new issue with the context and information in the body. Thanks!

[2021-05-16 21:54] #841 closed

[2021-05-16 21:54] brianamarie commented on #842
Hello 👋🏻 It looks like you may be practicing using GitHub. That's great! But, this repository is in active use, and this may be distracting those who maintain it. I'm going to close this, but if you'd like to suggest a bug fix or feature, please open a new issue with the context and information in the body. Thanks!

[2021-05-16 21:54] #842 closed

[2021-05-16 21:54] brianamarie commented on #843
Hello 👋🏻 It looks like you may be practicing using GitHub. That's great! But, this repository is in active use, and this may be distracting those who maintain it. I'm going to close this, but if you'd like to suggest a bug fix or feature, please open a new issue with the context and information in the body. Thanks!

[2021-05-16 21:54] #843 closed

[2021-05-17 12:06] kingworlds377 commented on #842
HEY

[2021-05-17 12:12] kingworlds377 opened #844 "HEY HOW WORK THE githup in WINDOWS"
## Overview
**TL;DR**
<One to two sentence description of the issue you are encountering or trying to solve.>

### Extra Detail

#### Screenshots
<If bug fix, please upload images of the error to better showcase the problem.>

#### Reasoning
<If new idea or direction, please create a checklist of proposed ideas or next steps. [Example](https://github.com/github/training-kit/issues/415).>

### How

[2021-05-17 14:01] brianamarie commented on #844
Hi @kingworlds377 👋🏻  It looks like you are asking for resources about how to use Git and GitHub with Windows.

This repository holds content for Git and GitHub cheat sheets, but it doesn't seem like that fits what you're looking for. Are you looking for a resource about using Git and GitHub on Windows, like [this guide from FreeCodeCamp](https://medium.com/free-code-camp/a-beginners-guide-to-git-

[2021-05-20 13:09] #844 closed

[2021-05-26 13:01] kingworlds377 commented on #844
Okay thanks for the desturp

[2021-05-26 13:04] kingworlds377 commented on #835
All people hello how are you doing today are the beautiful people and tigers and lions are here for the world love love and love more of world

[2021-05-26 13:06] kingworlds377 commented on #827
Okay okay thanks for the work and love world love more love for world too world thanks bay bay bey bey okay @@&$)(;:-125788888

[2021-06-08 09:57] sushmita-m commented on #685
is the dutch version available now?

[2021-06-09 18:48] Time-dragon opened #846 "Only way I can contact you, but still..."
I have a repo with a .unl (Unlambda) file in it, but it does not show Unlambda as a programming language, unlike Replit. HELP!

[2021-06-21 14:11] asma-khordsal commented on #846
۰۹۳۰۵۴۷۵۵۱۰

[2021-06-21 18:57] Time-dragon commented on #846
What? Also, I used Translate in Latin and it says you said

which is odd.

[2021-07-25 15:31] Ra66n opened #850 "I will"

[2021-07-25 15:32] #850 closed

[2021-08-12 06:09] RakeshPotnuru opened #851 "Mistake in documentation"
## Overview
**TL;DR**
Is this a mistake in the documentation [here](https://github.com/git-guides/git-add)?

### Extra Detail
Please see the red indications.

#### Screenshots
<img width="608" alt="Screenshot 2021-08-12 092956" src="https://user-images.githubusercontent.com/70439799/129146410-0c67a315-346f-43d4-b98f-a17e0ceea26f.png">

### How to Contribute
- [ ] Comment on this issue if you'd lik

[2021-08-22 14:47] AnilSeervi opened #852 "add node_modules to .gitingnore"
The `node_modules` folder has been pushed. It should be ignored.

[2021-08-30 18:01] Xxxxx1111 commented on #852
4tt4

[2021-09-07 21:12] Ceazerbrowns opened #854 "Instagram password cracker"

[2021-09-08 18:39] drishtirai opened #855 "training-kit"
## Overview
**TL;DR**
<One to two sentence description of the issue you are encountering or trying to solve.>

### Extra Detail

#### Screenshots
<If bug fix, please upload images of the error to better showcase the problem.>

#### Reasoning
<If new idea or direction, please create a checklist of proposed ideas or next steps. [Example](https://github.com/github/training-kit/issues/415).>

### How

[2021-09-08 18:40] drishtirai opened #856 "=\]]training-kit"
## Overview
**TL;DR**
<One to two sentence description of the issue you are encountering or trying to solve.>

### Extra Detail

#### Screenshots
<If bug fix, please upload images of the error to better showcase the problem.>

#### Reasoning
<If new idea or direction, please create a checklist of proposed ideas or next steps. [Example](https://github.com/github/training-kit/issues/415).>

### How

[2021-09-08 18:41] drishtirai opened #857 "]training-kit"
## Overview
**TL;DR**
<One to two sentence description of the issue you are encountering or trying to solve.>

### Extra Detail

#### Screenshots
<If bug fix, please upload images of the error to better showcase the problem.>

#### Reasoning
<If new idea or direction, please create a checklist of proposed ideas or next steps. [Example](https://github.com/github/training-kit/issues/415).>
Push your

[2021-09-16 04:52] reyban1982 opened #858 "Alyssa Carson"

[2021-09-19 04:08] ASNAS557 commented on #854
hazna_hajaz__

[2021-09-22 03:11] brianamarie commented on #855
Hello 👋🏻 It looks like you may be practicing using GitHub. That's great! But, this repository is in active use, and this may be distracting those who maintain it. I'm going to close this, but if you'd like to suggest a bug fix or feature, please open a new issue with the context and information in the body. Thanks!

[2021-09-22 03:11] #855 closed

[2021-09-22 03:12] brianamarie commented on #856
Hello 👋🏻 It looks like you may be practicing using GitHub. That's great! But, this repository is in active use, and this may be distracting those who maintain it. I'm going to close this, but if you'd like to suggest a bug fix or feature, please open a new issue with the context and information in the body. Thanks!

[2021-09-22 03:12] #856 closed

[2021-09-22 03:12] brianamarie commented on #857
Hello 👋🏻 It looks like you may be practicing using GitHub. That's great! But, this repository is in active use, and this may be distracting those who maintain it. I'm going to close this, but if you'd like to suggest a bug fix or feature, please open a new issue with the context and information in the body. Thanks!

[2021-09-22 03:12] #857 closed

[2021-09-22 03:26] brianamarie commented on #858
Hello 👋🏻 It looks like you may be practicing using GitHub. That's great! But, this repository is in active use, and this may be distracting those who maintain it. I'm going to close this, but if you'd like to suggest a bug fix or feature, please open a new issue with the context and information in the body. Thanks!

[2021-09-22 03:26] #858 closed

[2021-09-22 03:47] brianamarie commented on #854
Hello 👋🏻 It looks like you may be practicing using GitHub. That's great! But, this repository is in active use, and this may be distracting those who maintain it. I'm going to close this, but if you'd like to suggest a bug fix or feature, please open a new issue with the context and information in the body. Thanks!

[2021-09-22 03:47] #854 closed

[2021-09-22 21:12] phil-blain opened #862 "Site does not work (404)"
## Overview
**TL;DR**
<One to two sentence description of the issue you are encountering or trying to solve.>

Navigating to https://github.github.com/training-kit/ redirects to https://training.github.com/ and this yields a 404.

[2021-09-23 15:43] hectorsector commented on #862
Should be fixed in #861 -- thanks for flagging it @phil-blain. Sometimes, GitHub Pages will cache the 404 so, if it does, it'll work again after a while!

[2021-09-23 15:43] #862 closed

[2021-09-29 15:15] anneloreegger commented on #852
I'd like to work on this. Is it still available? :)

[2021-09-30 03:23] AnilSeervi commented on #852
The moderators are yet to provide more info on this one.

[2021-09-30 22:25] aniruddha-5 commented on #851
I would like to take up this issue. I am participating for Hacktoberfest. Will be more than happy to help.

[2021-09-30 22:30] aniruddha-5 opened #865 "Improving the UI by implementing Card for each module"
I am participating for Hacktoberfest. Will be more than happy to help.

[2021-10-01 15:36] ppeters0502 commented on #851
I'd like to work on this issue for Hacktoberfest, I'll fork the repository and make the change!

[2021-10-01 15:55] ppeters0502 commented on #851
Nevermind, looks like the markdown file has already been [updated](https://github.com/github/training-kit/commit/f9a9a2df9ab838c7edfcf3eaf1b95419cbe022ba), a new build just needs to be pushed out and then the changes should show up.

[2021-10-07 14:00] mikerobards commented on #810
Hello! I would like to correct this issue! Thank you!

[2021-10-10 10:59] ASNAS557 opened #870 "mgol:no-xhtml-shortcuts"

[2021-10-11 07:08] ASNAS557 opened #871 "35PivPLtD5NYu5G9QbbxejKvoEUYqs75TQ"

[2021-10-14 01:17] mehsaandev commented on #865
Can You Assign me to do this, I am on Haktoberfest

[2021-11-23 18:05] muslimlif opened #882 "وقفوه"
https://www.facebook.com/Lifemouslem/

[2021-11-23 18:10] muslimlif opened #883 "احمد"
https://www.facebook.com/Lifemouslem/

[2021-11-24 08:37] brianamarie commented on #882
Hello 👋🏻 It looks like you may be practicing using GitHub. That's great! But, this repository is in active use, and this may be distracting those who maintain it. I'm going to close this, but if you'd like to suggest a bug fix or feature, please open a new issue with the context and information in the body. Thanks!

[2021-11-24 08:37] #882 closed

[2021-11-24 08:37] brianamarie commented on #883
Hello 👋🏻 It looks like you may be practicing using GitHub. That's great! But, this repository is in active use, and this may be distracting those who maintain it. I'm going to close this, but if you'd like to suggest a bug fix or feature, please open a new issue with the context and information in the body. Thanks!

[2021-11-24 08:37] #883 closed

[2021-12-05 06:30] ghost opened #884 "Duplicate of #"
Duplicate of #

_Originally posted by @Vendetta26 in https://github.com/github/training-kit/issues/880#issuecomment-986175161_

[2021-12-06 08:46] #884 closed

[2022-04-01 16:21] Erik818subo commented on #415
Yep

[2022-04-13 06:06] Joker8003 opened #891 "Personal url address creater"

[2022-04-14 08:33] alaauldein opened #892 "h"

[2022-04-14 09:12] Beiden69 commented on #892
GO.

[2022-04-14 09:12] Beiden69 opened #893 "Fusion"
https://github.com/github/training-kit/issues/892

[2022-04-14 10:04] Beiden69 opened #894 "Rrx"
https://github.com/ikatyang/emoji-cheat-sheet/pull/569

[2022-04-15 18:25] alaauldein commented on #892
why

[2022-05-20 03:18] #893 closed

[2022-05-20 03:18] #894 closed

[2022-06-12 11:19] derr-ick opened #901 "Have"
Khgb

[2022-06-12 11:19] #901 closed

[2022-06-12 17:04] CigaretteAfterSex commented on #901
Unsubscribe
On Sun, Jun 12, 2022 at 4:20 AM derr-ick ***@***.***> wrote:

--
Liza Nicole Flaum

[2022-06-12 17:04] CigaretteAfterSex commented on #901
On Sun, Jun 12, 2022 at 10:04 AM Liza Nicole Flaum <
***@***.***> wrote:

--
Liza Nicole Flaum

[2022-06-17 22:45] HoneydewBoba23 opened #902 "First"
Hello World

[2022-06-27 01:50] Kalihacker134 commented on #854
Hack Instagram password

[2022-06-28 18:15] melodyjay commented on #854
hi guys... am sorry I wasn't able to go for the fix....my computer broke down in the process but am to get this done as quick as possible.

[2022-07-24 05:36] 80805504141995613430 opened #912 "Trace"
--- 24 de jul. de 2022 02:35:53
--- IP (rmnet_data0) 2804:214:8488:9607:908d:586a:c689:279f
--- IP (rmnet_data0) 100.71.81.30
--- IP (rmnet_data1) 2804:214:81a8:a5d7:1:2:6630:71ae
--- Connection: LTE

Trace to AlisaBelisa

Unable to resolve host "AlisaBelisa": No address associated with hostname

[2022-07-24 05:39] 80805504141995613430 commented on #912
#

[2022-07-24 05:44] #912 closed

[2022-07-24 19:25] 80805504141995613430 opened #914 "https://financial-grade%20api%20%28fapi%29%20-%20authlete%20https//www.authlete.com/developers/fapi/?gclid=EAIaIQobChMI5fvXzJ-S-QIVWge5Bh16vQz3EAEYASAAEgKqevD_BwEShare%20From%20App:%20Dev%20"
Financial-grade API (FAPI) - Authlete https://www.authlete.com/developers/fapi/?gclid=EAIaIQobChMI5fvXzJ-S-QIVWge5Bh16vQz3EAEYASAAEgKqevD_BwE

Share From App: Dev Tools(Android Developer Tools)

[2022-07-28 04:26] dannymarques238 commented on #902
dannymarques238/panamecityeventos

[2022-09-20 13:28] spikysimonw opened #920 "Documentation unclear surround GitHub Desktop installation and its inclusion (or not) of Git"
## Overview
**TL;DR**
Confusing and misleading information on a) whether or not Git is included as part of a GitHub Desktop install, and b) whether Git is already installed on "most versions of MacOS".

### Extra Detail

- Information in para [A](https://github.com/github/training-kit/blob/master/git-guides/install-git.md#install-git-using-github-desktop) conflicts with instruction within para [B]

[2022-09-28 14:15] ampsteric commented on #865
is this still open?

[2022-10-06 04:20] Diptenusarkar opened #923 "I found some errors on the Bangla cheat sheets!"
## Overview
**TL;DR**
<One to two sentence description of the issue you are encountering or trying to solve.>

### Extra Detail
I found some grammatical errors on the Bangla page. so is that possible for you to assign this to me? so I can fix that.

### How to Contribute
- [x] Comment on this issue if you'd like to work/collaborate on it!
- [x] Fork the [repository](https://github.com/github/train

[2022-10-08 10:18] Ajjjuu commented on #865
It's still open to enhance?

[2022-10-09 03:52] Zeref-XXX commented on #902
<h1>First hello world</h1>

[2022-10-26 02:27] #923 closed

[2022-10-26 03:49] #852 closed

[2022-11-01 18:48] #891 closed

[2022-11-01 18:49] #902 closed